<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="findViewByIdPermissionsMarker"
         name="markerName"
         point="org.eclipse.core.resources.markers">
         <!-- if you don't use the 'name' attribute with the value 'App Validator Problem', your marker will stand out
         		from other App Validator markers, which is not indicated -->
      <super
            type="com.motorolamobility.preflighting.checkers.ui.appValidatorMarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="com.motorolamobility.preflighting.samplechecker.findviewbyid.quickfix.FindViewByIdMarkerGenerator"
            markerType="com.motorolamobility.preflighting.samplechecker.findviewbyid.ui.findViewByIdPermissionsMarker">
      </markerResolutionGenerator>
   </extension>
</plugin>
