<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
  Copyright (C) 2012 The Android Open Source Project

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<plugin>
   <extension
         point="com.motorolamobility.preflighting.core.checker">
      <checker
            class="com.motorolamobility.preflighting.core.checker.Checker"
            description="%mainactivitydescription"
            id="singleMainActivity"
            name="%mainactivityname">
         <condition
               class="com.motorolamobility.preflighting.checkers.mainactivity.SingleMainActivityCondition"
               defaultSeverityLevel="WARNING"
               description="%mainActivity_singleMainActivity_ConditionDescription"
               id="singleMainActivity"
               name="%mainActivity_singleMainActivity_ConditionName">
         </condition>
      </checker>
      <checker
            class="com.motorolamobility.preflighting.checkers.missingdrawable.MissingDrawableChecker"
            description="%missingDrawableResourcesDescription"
            id="missingDrawableResources"
            name="%missingDrawableResourcesName">
         <condition
               class="com.motorolamobility.preflighting.checkers.missingdrawable.MissingDrawableFoldersCondition"
               defaultSeverityLevel="WARNING"
               description="%MissingDrawableChecker_conditionMissingDrawableFolders_Description"
               id="missingDrawableFolders"
               name="%MissingDrawableChecker_conditionMissingDrawableFolders_Name">
         </condition>
         <condition
               class="com.motorolamobility.preflighting.checkers.missingdrawable.MissingDrawableResourcesCondition"
               defaultSeverityLevel="WARNING"
               description="%MissingDrawableChecker_conditionMissingDrawableResources_Description"
               id="missingDrawables"
               name="%MissingDrawableChecker_conditionMissingDrawableResources_Name">
         </condition>
         <condition
               class="com.motorolamobility.preflighting.checkers.missingdrawable.AllDensitiesSupportCondition"
               defaultSeverityLevel="WARNING"
               description="%MissingDrawableChecker_conditionUnsupportedDensity_Description"
               id="unsupportedDensity"
               name="%MissingDrawableChecker_conditionUnsupportedDensity_Name">
         </condition>
      </checker>
      <checker
            class="com.motorolamobility.preflighting.checkers.localizationStrings.LocalizationStringsChecker"
            description="%localizationStringDescription"
            id="localizationStrings"
            name="%localizationStringName">
         <condition
               class="com.motorolamobility.preflighting.checkers.localizationStrings.MissingDefaultLanguageKeyCondition"
               defaultSeverityLevel="ERROR"
               description="%localizationString_missingDefaultLanguageKey_description"
               id="missingDefaultLanguageKey"
               name="%localizationString_missingDefaultLanguageKey_name">
         </condition>
         <condition
               class="com.motorolamobility.preflighting.checkers.localizationStrings.MissingLanguageKeyCondition"
               defaultSeverityLevel="WARNING"
               description="%localizationStrings_missingLanguageKey_description"
               id="missingLanguageKey"
               name="%localizationStrings_missingLanguageKey_name">
         </condition>
         <condition
               class="com.motorolamobility.preflighting.checkers.localizationStrings.MissingValueCondition"
               defaultSeverityLevel="WARNING"
               description="%localizationStrings_missingValue_description"
               id="missingValue"
               name="%localizationStrings_missingValue_name">
         </condition>
      </checker>
      <checker
            description="%androidMarketFiltersCheckerDescription"
            id="googlePlayFilters"
            name="%androidMarketFiltersCheckerName">
         <condition
               class="com.motorolamobility.preflighting.checkers.androidmarketfilters.LogCallsCondition"
               defaultSeverityLevel="WARNING"
               description="%androidMarketFilters_logCallsConditionDescription"
               id="logCalls"
               name="%androidMarketFilters_logCallsConditionName">
         </condition>
         <condition
               class="com.motorolamobility.preflighting.checkers.androidmarketfilters.IsDebuggableCondition"
               defaultSeverityLevel="WARNING"
               description="%androidMarketFilters_isDebuggableConditionDescription"
               id="isDebuggable"
               name="%androidMarketFilters_isDebuggableConditionName">
         </condition>







         <condition
               class="com.motorolamobility.preflighting.checkers.androidmarketfilters.CertificateExpiredCondition"
               defaultSeverityLevel="ERROR"
               description="%androidMarketFilters_certificateExpiredConditionDescription"
               id="certificatePeriodExpired"
               name="%androidMarketFilters_certificateExpiredConditionName">
         </condition>
         <condition
               class="com.motorolamobility.preflighting.checkers.androidmarketfilters.MissingIconLabelCondition"
               defaultSeverityLevel="ERROR"
               description="%androidMarketFilters_missingManifestIconOrLabelConditionDescription"
               id="missingManifestIconOrLabel"
               name="%androidMarketFilters_missingManifestIconOrLabelConditionName">
         </condition>
         <condition
               class="com.motorolamobility.preflighting.checkers.androidmarketfilters.MissingVersionOrNameCondition"
               defaultSeverityLevel="ERROR"
               description="%androidMarketFilters_missingVersionCodeOrNameConditionDescription"
               id="missingVersionCodeOrName"
               name="%androidMarketFilters_missingVersionCodeOrNameConditionName">
         </condition>
         <condition
               class="com.motorolamobility.preflighting.checkers.androidmarketfilters.MissingMinSdkCondition"
               defaultSeverityLevel="ERROR"
               description="%androidMarketFilters_missingMinSdkVersionConditionDescription"
               id="missingMinSdkVersion"
               markerType="com.motorolamobility.preflighting.checkers.ui.googlePlayFiltersMissingMinSDK"
               name="%androidMarketFilters_missingMinSdkVersionConditionName">
         </condition>
         <condition
               class="com.motorolamobility.preflighting.checkers.androidmarketfilters.DeclaredMaxSdkCondition"
               defaultSeverityLevel="WARNING"
               description="%androidMarketFilters_declaredMaxSdkVersionConditionDescription"
               id="declaredMaxSdkVersion"
               markerType="com.motorolamobility.preflighting.checkers.ui.googlePlayFiltersUneededMaxSDK"
               name="%androidMarketFilters_declaredMaxSdkVersionConditionName">
         </condition>
         <condition
               class="com.motorolamobility.preflighting.checkers.androidmarketfilters.PermissionImpliedFeaturesCondition"
               defaultSeverityLevel="WARNING"
               description="%androidMarketFilters_permissionToImpliedFeaturesConditionDescription"
               id="permissionToImpliedFeatures"
               markerType="com.motorolamobility.preflighting.checkers.ui.impliedFeaturesMarker"
               name="%androidMarketFilters_permissionToImpliedFeaturesConditionName">
         </condition>
         <condition
               class="com.motorolamobility.preflighting.checkers.androidmarketfilters.MinSdkIsPreviewCondition"
               defaultSeverityLevel="WARNING"
               description="%androidMarketFilters_minSdkIsPreviewConditionDescription"
               id="minSdkIsPreview"
               name="%androidMarketFilters_minSdkIsPreviewConditionName">
         </condition>
         <condition
               class="com.motorolamobility.preflighting.checkers.androidmarketfilters.PreviewTargetSdkCondition"
               defaultSeverityLevel="WARNING"
               description="%androidMarketFilters_targetSdkIsPreviewConditionDescription"
               id="targetSdkIsPreview"
               name="%androidMarketFilters_targetSdkIsPreviewConditionName">
         </condition>
         <condition
               class="com.motorolamobility.preflighting.checkers.androidmarketfilters.ZipalignedCondition"
               defaultSeverityLevel="WARNING"
               description="%androidMarketFilters_zipalignedConditionDescription"
               id="zipaligned"
               name="%androidMarketFilters_zipalignedConditionName">
         </condition>
      </checker>
      <checker
            class="com.motorolamobility.preflighting.core.checker.Checker"
            description="%deviceCompatibilityCheckerDescription"
            id="deviceCompatibility"
            name="%deviceCompatibilityCheckerName">
         <condition
               class="com.motorolamobility.preflighting.checkers.deviceCompatibility.UnsupportedFeaturesConditions"
               defaultSeverityLevel="WARNING"
               description="%DeviceCompatibilityChecker_Unsupported_Features_Condition_Description"
               id="unsupportedFeatures"
               markerType="com.motorolamobility.preflighting.checkers.ui.deviceCompatibilityUnsupportedFeaturesMarker"
               name="%DeviceCompatibilityChecker_Unsupported_Features_Condition_Name">
         </condition>
         <condition
               class="com.motorolamobility.preflighting.checkers.deviceCompatibility.SmallScreensSupportCondition"
               defaultSeverityLevel="ERROR"
               description="%DeviceCompatibilityChecker_SmallScreens_Support_Condition_Description"
               id="smallScreenSupport"
               name="%DeviceCompatibilityChecker_SmallScreens_Support_Condition_Name">
         </condition>
         <condition
               class="com.motorolamobility.preflighting.checkers.deviceCompatibility.XLargeScreensSupportCondition"
               defaultSeverityLevel="WARNING"
               description="%DeviceCompatibilityChecker_XLargeScreens_Support_Condition_Description"
               id="xlargeScreenSupport"
               name="%DeviceCompatibilityChecker_XLargeScreens_Support_Condition_Name">
         </condition>
      </checker>
      <checker
            class="com.motorolamobility.preflighting.core.checker.Checker"
            description="%buildingBlocksDeclarationCheckerDescription"
            id="buildingBlocksDeclaration"
            name="%buildingBlocksDeclarationCheckerName">
         <condition
               class="com.motorolamobility.preflighting.checkers.buildingblocksdeclaration.BuildingBlocksInheritanceCondition"
               defaultSeverityLevel="WARNING"
               description="%buildingBlocksDeclarationCheckerDescription_Inheritance"
               id="buildingBlockMissDeclaration"
               name="%buildingBlocksDeclarationCheckerName_Inheritance">
         </condition>
      </checker>
      <checker
            class="com.motorolamobility.preflighting.checkers.permissions.PermissionsChecker"
            description="%permissionsCheckerDescription"
            id="permissions"
            name="%permissionsCheckerName">
         <condition
               class="com.motorolamobility.preflighting.checkers.permissions.MissingPermissionsCondition"
               defaultSeverityLevel="WARNING"
               description="%permissionsChecker_MissingPermissionDescription"
               id="missingPermission"
               markerType="com.motorolamobility.preflighting.checkers.ui.missingPermissionsMarker"
               name="%permissionsChecker_MissingPermissionName">
         </condition>
         <condition
               class="com.motorolamobility.preflighting.checkers.permissions.BlockedPermissionCondition"
               defaultSeverityLevel="WARNING"
               description="%permissionsChecker_BlockedPermissionDescription"
               id="blockedPermission"
               name="%permissionsChecker_BlockedPermissionName">
         </condition>
         <condition
               class="com.motorolamobility.preflighting.checkers.permissions.UnneededPermissionsCondition"
               defaultSeverityLevel="WARNING"
               description="%UnneededPermissions.description"
               id="unneededPermission"
               markerType="com.motorolamobility.preflighting.checkers.ui.unneededPermissionsMarker"
               name="%UnneededPermissions.Name">
         </condition>
      </checker>
      <checker
            class="com.motorolamobility.preflighting.core.checker.Checker"
            description="%layoutCheckerDescription"
            id="layout"
            name="%layoutCheckerName">
         <condition
               class="com.motorolamobility.preflighting.checkers.layout.MissingIdCondition"
               defaultSeverityLevel="WARNING"
               description="%layoutChecker_MissingIDConditionDescription"
               id="missingId"
               name="%layoutChecker_MissingIDConditionName">
         </condition>
         <condition
               class="com.motorolamobility.preflighting.checkers.layout.RepeatedIdCondition"
               defaultSeverityLevel="WARNING"
               description="%layoutChecker_repeatedIdConditionDescription"
               id="repeatedId"
               name="%layoutChecker_repeatedIdConditionName">
         </condition>
         <condition
               class="com.motorolamobility.preflighting.checkers.layout.ViewTypeIdsCondition"
               defaultSeverityLevel="WARNING"
               description="%layoutChecker_viewTypeIdsConditionDescription"
               id="viewTypeIds"
               name="%layoutChecker_viewTypeIdsConditionName">
         </condition>
         <condition
               class="com.motorolamobility.preflighting.checkers.layout.XlargeConfigCondition"
               defaultSeverityLevel="WARNING"
               description="%layoutChecker_XlargeConfigConditionDescription"
               id="xlargeLayouts"
               name="%layoutChecker_XlargeConfigConditionName">
         </condition>
      </checker>
      <checker
            class="com.motorolamobility.preflighting.core.checker.Checker"
            description="%widgetPreviewCheckerDescription"
            id="widgetPreview"
            name="%widgetPreviewCheckerName">
         <condition
               class="com.motorolamobility.preflighting.checkers.widgetPreview.MissingWidgetPreviewTagCondition"
               defaultSeverityLevel="WARNING"
               description="%missingWidgetPreviewConditionDescription"
               id="missingWidgetPreview"
               name="%missingWidgetPreviewConditionName">
         </condition>
      </checker>
      <checker
            class="com.motorolamobility.preflighting.core.checker.Checker"
            description="%codeChecker_Description"
            id="codeChecker"
            name="Code Checker">
         <condition
               class="com.motorolamobility.preflighting.checkers.logic.OpenedCursorsCondition"
               defaultSeverityLevel="WARNING"
               description="%openedCursorsCondition.description"
               id="openedCursors"
               name="%openedCursorsCondition.name">
         </condition>
      </checker>
      <checker
            class="com.motorolamobility.preflighting.core.checker.Checker"
            description="%orphanedItemsCheckerDescription"
            id="orphanedItems"
            name="%orphanedItemsCheckerName">
         <condition
               class="com.motorolamobility.preflighting.checkers.orphanedstrings.OrphanedStringsCondition"
               defaultSeverityLevel="WARNING"
               description="%orphanedStringsConditionDescription"
               id="orphanedStrings"
               name="%orphanedStringsConditionName">
         </condition>
      </checker>
   </extension>
</plugin>
