<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.motorolamobility.preflighting.outputter" name="App Validator Outputter" schema="schema/com.motorolamobility.preflighting.outputter.exsd"/>

   <extension
         id="MOTODEVApplicationValidator"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.motorolamobility.preflighting.internal.PreflightingApplication">
         </run>
      </application>
   </extension>
   <extension
         id="appvalidator"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.motorolamobility.preflighting.MOTODEVApplicationValidator"
            name="MOTODEV Studio Application Validator">
         <property
               name="appName"
               value="MOTODEV Studio Application Validator">
         </property>
      </product>
   </extension>

</plugin>
