<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.mat.ui.editorPanes">
      <pane
            class="com.motorola.studio.android.mat.panes.MotodevPane"
            id="com.motorola.studio.android.mat.MotodevPane">
      </pane>
   </extension>
   <extension
         point="org.eclipse.mat.ui.editorContributions">
      <contribution
            class="com.motorola.studio.android.mat.actions.HeapEditorContributions"
            editorClass="org.eclipse.mat.ui.snapshot.editor.HeapEditor"
            sequenceNr="2">
      </contribution>
   </extension>
   <extension
         id="dumpHprofService"
         name="Dump HPROF"
         point="org.eclipse.sequoyah.device.framework.service">
      <service
            copyright="%copyright"
            description="%service_dumpHPROF_description"
            handler="com.motorola.studio.android.mat.services.DumpHPROFHandler"
            icon="icons/motodev_pane.png"
            id="com.motorola.studio.android.mat.dumpHprofService"
            name="%service_dumpHPROF_name"
            provider="%providerName"
            version="0.1.0"
            visible="true">
      </service>
   </extension>
   <extension
         id="com.motorola.studio.android.emulator.androidDevice"
         name="Dump HPROF file"
         point="org.eclipse.sequoyah.device.framework.serviceDefinition">
      <service
            id="com.motorola.studio.android.mat.dumpHprofService">
         <status
               endId="com.motorola.studio.android.emulator.status.online"
               haltId="com.motorola.studio.android.emulator.status.online"
               startId="com.motorola.studio.android.emulator.status.online">
         </status>
      </service>
   </extension>
   <extension
         id="com.motorola.studio.android.handset.androidHandset"
         name="Dump HPROF file"
         point="org.eclipse.sequoyah.device.framework.serviceDefinition">
      <service
            id="com.motorola.studio.android.mat.dumpHprofService">
         <status
               endId="com.motorola.studio.android.handset.status.handsetonline"
               haltId="com.motorola.studio.android.handset.status.handsetonline"
               startId="com.motorola.studio.android.handset.status.handsetonline">
         </status>
      </service>
   </extension>
   <extension
         id="com.motorola.studio.android.remote.androidRemoteDevice"
         name="Dump HPROF file"
         point="org.eclipse.sequoyah.device.framework.serviceDefinition">
      <service
            id="com.motorola.studio.android.mat.dumpHprofService">
         <status
               endId="com.motorola.studio.android.remote.status.connected"
               haltId="com.motorola.studio.android.remote.status.connected"
               startId="com.motorola.studio.android.remote.status.connected">
         </status>
      </service>
   </extension>
   <extension
         id="commandDumpHprof"
         name="Dump HPROF command"
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.motorola.studio.android.mat.commands.DumpHPROFCommand"
            id="com.motorola.studio.android.mat.commandDumpHprof"
            name="%command_dumpHPROF_name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:com.motorola.studio.android.emulator.view.popup">
         <command
               commandId="com.motorola.studio.android.mat.commandDumpHprof"
               icon="icons/motodev_pane.png"
               id="dumpHPROF.command"
               label="%command_dumpHPROF_name"
               style="push">
         </command>
      </menuContribution>
   </extension>
   

</plugin>
