<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.pde.core.javadoc">
      <javadoc
            archive="false"
            path="doc">
         <plugin
               id="com.motorolamobility.preflighting.core">
         </plugin>
         <plugin
               id="com.motorolamobility.preflighting">
         </plugin>
      </javadoc>
   </extension>

</plugin>
