<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!--START adb shell and console services START-->
   <extension
         id="com.motorola.studio.android.devices.services.adbShell"
         name="%adbShellName"
         point="org.eclipse.sequoyah.device.framework.service">
      <service
            description="%adbShellDescription"
            handler="com.motorola.studio.android.devices.services.console.ADBShellHandler"
            icon="icons/adb_shell.png"
            id="com.motorola.studio.android.devices.services.adbShell"
            name="%adbShellName"
            parallelized="true"
            provider="%providerName"
            version="0.4.0"
            visible="true">
      </service>
   </extension>
<extension
         id="com.motorola.studio.android.devices.services.emulatorConsole"
         name="%emulatorConsoleName"
         point="org.eclipse.sequoyah.device.framework.service">
      <service
            description="%emulatorConsoleDescription"
            handler="com.motorola.studio.android.devices.services.console.EmulatorConsoleHandler"
            icon="icons/emulator_console.png"
            id="com.motorola.studio.android.devices.services.emulatorConsole"
            name="%emulatorConsoleName"
            parallelized="true"
            provider="%providerName"
            version="0.4.0"
            visible="true">
      </service>
   </extension>
   <extension
         id="com.motorola.studio.android.emulator.androidDevice"
         name="%adbShellName"
         point="org.eclipse.sequoyah.device.framework.serviceDefinition">
      <service
            id="com.motorola.studio.android.devices.services.adbShell">
         <status
               endId="com.motorola.studio.android.emulator.status.online"
               haltId="com.motorola.studio.android.emulator.status.online"
               startId="com.motorola.studio.android.emulator.status.online">
         </status></service>
   </extension>
   <extension
         id="com.motorola.studio.android.handset.androidHandset"
         name="%adbShellName"
         point="org.eclipse.sequoyah.device.framework.serviceDefinition">
      <service
            id="com.motorola.studio.android.devices.services.adbShell">
         <status
               endId="com.motorola.studio.android.handset.status.handsetonline"
               haltId="com.motorola.studio.android.handset.status.handsetonline"
               startId="com.motorola.studio.android.handset.status.handsetonline">
         </status></service>
   </extension>
   <extension
         id="com.motorola.studio.android.emulator.androidDevice"
         name="%emulatorConsoleName"
         point="org.eclipse.sequoyah.device.framework.serviceDefinition">
      <service
            id="com.motorola.studio.android.devices.services.emulatorConsole">
         <status
               endId="com.motorola.studio.android.emulator.status.online"
               haltId="com.motorola.studio.android.emulator.status.online"
               startId="com.motorola.studio.android.emulator.status.online">
         </status>
      </service>
   </extension>
   <extension
         id="com.motorola.studio.android.remote.androidRemoteDevice"
         name="%adbShellName"
         point="org.eclipse.sequoyah.device.framework.serviceDefinition">
      <service
            id="com.motorola.studio.android.devices.services.adbShell">
         <status
               endId="com.motorola.studio.android.remote.status.connected"
               haltId="com.motorola.studio.android.remote.status.connected"
               startId="com.motorola.studio.android.remote.status.connected">
         </status></service>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.motorola.studio.android.devices.services.console.ADBShellCommand"
            id="com.motorola.studio.android.device.adb.shell"
            name="%adbShellName">
      </command>
      <command
            defaultHandler="com.motorola.studio.android.devices.services.console.EmulatorConsoleCommand"
            id="com.motorola.studio.android.device.emulator.console"
            name="%emulatorConsoleName">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:com.motorola.studio.android.emulator.view.popup">
         <command
               commandId="com.motorola.studio.android.device.adb.shell"
               icon="icons/adb_shell.png"
               id="adb.shell"
               label="%adbShellName"
               style="push"
               tooltip="%adbShellDescription">
         </command>
         <command
               commandId="com.motorola.studio.android.device.emulator.console"
               icon="icons/emulator_console.png"
               id="emulator.console"
               label="%emulatorConsoleName"
               style="push"
               tooltip="%emulatorConsoleDescription">
         </command>
      </menuContribution>
   </extension> 
   
   <!--END adb shell and console services END-->
   <!--START deploy and uninstall services START-->
   
   <extension
         id="deployService"
         name="%deployServiceName"
         point="org.eclipse.sequoyah.device.framework.service">
      <service
            copyright="%copyright"
            description="%deployDescription"
            handler="com.motorola.studio.android.devices.services.deploy.DeployServiceHandler"
            icon="icons/deploy.png"
            id="com.motorola.studio.android.devices.services.deployService"
            interval="1000"
            name="%deployServiceName"
            parallelized="true"
            provider="%providerName"
            version="0.1.0"
            visible="true">
      </service>
   </extension>
   
   <extension
         id="uninstallAppService"
         name="%uninstallAppServiceName"
         point="org.eclipse.sequoyah.device.framework.service">
   <service
         copyright="%copyright"
         description="%uninstallAppServiceDescription"
         handler="com.motorola.studio.android.devices.services.deploy.UninstallAppServiceHandler"
         icon="icons/uninstall.png"
         id="com.motorola.studio.android.devices.services.uninstallAppService"
         name="%uninstallAppServiceName"
         parallelized="false"
         provider="%providerName"
         version="0.1.0"
         visible="true">
      </service>
   </extension>
   <extension
         id="com.motorola.studio.android.emulator.androidDevice"
         name="%deployServiceName"
         point="org.eclipse.sequoyah.device.framework.serviceDefinition">
      <service
            id="com.motorola.studio.android.devices.services.deployService">
         <status
               endId="com.motorola.studio.android.emulator.status.online"
               haltId="com.motorola.studio.android.emulator.status.online"
               startId="com.motorola.studio.android.emulator.status.online">
         </status></service>
        
   </extension>
   
   <extension
         id="com.motorola.studio.android.emulator.androidDevice"
         name="%uninstallAppServiceName"
         point="org.eclipse.sequoyah.device.framework.serviceDefinition">
    <service
            id="com.motorola.studio.android.devices.services.uninstallAppService">
         <status
               endId="com.motorola.studio.android.emulator.status.online"
               haltId="com.motorola.studio.android.emulator.status.online"
               startId="com.motorola.studio.android.emulator.status.online">
         </status></service>
   </extension>
   
   <extension
         id="com.motorola.studio.android.handset.androidHandset"
         name="%deployServiceName"
         point="org.eclipse.sequoyah.device.framework.serviceDefinition">
      <service
            id="com.motorola.studio.android.devices.services.deployService">
         <status
               endId="com.motorola.studio.android.handset.status.handsetonline"
               haltId="com.motorola.studio.android.handset.status.handsetonline"
               startId="com.motorola.studio.android.handset.status.handsetonline">
         </status>
     </service>
   </extension>   
   
    <extension
         id="com.motorola.studio.android.handset.androidHandset"
         name="%uninstallAppServiceName"
         point="org.eclipse.sequoyah.device.framework.serviceDefinition">
    <service
            id="com.motorola.studio.android.devices.services.uninstallAppService">
         <status
               endId="com.motorola.studio.android.handset.status.handsetonline"
               haltId="com.motorola.studio.android.handset.status.handsetonline"
               startId="com.motorola.studio.android.handset.status.handsetonline">
         </status></service>
     </extension>
    <extension
         id="com.motorola.studio.android.remote.androidRemoteDevice"
         name="%deployServiceName"
         point="org.eclipse.sequoyah.device.framework.serviceDefinition">
      <service
            id="com.motorola.studio.android.devices.services.deployService">
         <status
               endId="com.motorola.studio.android.remote.status.connected"
               haltId="com.motorola.studio.android.remote.status.connected"
               startId="com.motorola.studio.android.remote.status.connected">
         </status>
      </service>
   </extension>   
 
    <extension
         id="com.motorola.studio.android.remote.androidRemoteDevice"
         name="%uninstallAppServiceName"
         point="org.eclipse.sequoyah.device.framework.serviceDefinition">
    <service
            id="com.motorola.studio.android.devices.services.uninstallAppService">
         <status
               endId="com.motorola.studio.android.remote.status.connected"
               haltId="com.motorola.studio.android.remote.status.connected"
               startId="com.motorola.studio.android.remote.status.connected">
         </status></service>
   </extension>  
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.motorola.studio.android.devices.services.deploy.DeployServiceCommand"
            id="com.motorola.studio.android.device.install.app"
            name="%deployServiceName">
      </command>
      <command
            defaultHandler="com.motorola.studio.android.devices.services.deploy.UninstallAppServiceCommand"
            id="com.motorola.studio.android.device.uninstall.app"
            name="%uninstallAppServiceName">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:com.motorola.studio.android.emulator.view.popup">
         <command
               commandId="com.motorola.studio.android.device.install.app"
               icon="icons/deploy.png"
               id="deploy.command"
               label="%deployServiceName"
               style="push">
         </command>
         <command
               commandId="com.motorola.studio.android.device.uninstall.app"
               icon="icons/uninstall.png"
               id="uninstall.command"
               label="%uninstallAppServiceName"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.motorola.studio.android.devices.services.deploy.EmulatorTester"
            id="hasActiveInstanceTester"
            namespace="com.motorola.studio.android.emulator"
            properties="hasActiveInstance"
            type="java.lang.Object">
      </propertyTester>
   </extension> 
   <!--END deploy and uninstall services END-->
   <!--START monkey and screenshot services START-->
   
   <extension
         id="takescreenshot"
         name="%takeScreenshotServiceName"
         point="org.eclipse.sequoyah.device.framework.service">
      <service
            copyright="%copyright"
            description="%takeScreenshotDescription"
            handler="com.motorola.studio.android.devices.services.ddms.ScreenshotServiceHandler"
            icon="icons/screenshot_16.jpg"
            id="com.motorola.studio.android.devices.services.takescreenshot"
            name="%takeScreenshotServiceName"
            parallelized="true"
            provider="%providerName"
            version="0.1.0"
            visible="true">
      </service>
   </extension>
   <extension
         id="monkey"
         name="%monkeyServiceName"
         point="org.eclipse.sequoyah.device.framework.service">
      <service
            copyright="%copyright"
            description="%monkeyDescription"
            handler="com.motorola.studio.android.devices.services.ddms.MonkeyServiceHandler"
            icon="icons/monkey_16.png"
            id="com.motorola.studio.android.devices.services.monkey"
            name="%monkeyDescription"
            parallelized="false"
            provider="%providerName"
            version="0.1.0"
            visible="true">
      </service>
   </extension>
<extension
         id="com.motorola.studio.android.emulator.androidDevice"
         name="%takeScreenshotServiceName"
         point="org.eclipse.sequoyah.device.framework.serviceDefinition">
    <service
            id="com.motorola.studio.android.devices.services.takescreenshot">
         <status
               endId="com.motorola.studio.android.emulator.status.online"
               haltId="com.motorola.studio.android.emulator.status.online"
               startId="com.motorola.studio.android.emulator.status.online">
         </status>
         </service>
   </extension>
   <extension
         id="com.motorola.studio.android.emulator.androidDevice"
         name="%monkeyServiceName"
         point="org.eclipse.sequoyah.device.framework.serviceDefinition">
    <service
            id="com.motorola.studio.android.devices.services.monkey">
         <status
               endId="com.motorola.studio.android.emulator.status.online"
               haltId="com.motorola.studio.android.emulator.status.online"
               startId="com.motorola.studio.android.emulator.status.online">
         </status>
         </service>
   </extension>
   
    <extension
         id="com.motorola.studio.android.handset.androidHandset"
         name="%takeScreenshotServiceName"
         point="org.eclipse.sequoyah.device.framework.serviceDefinition">
      <service
            id="com.motorola.studio.android.devices.services.takescreenshot">
         <status
               endId="com.motorola.studio.android.handset.status.handsetonline"
               haltId="com.motorola.studio.android.handset.status.handsetonline"
               startId="com.motorola.studio.android.handset.status.handsetonline">
         </status>
     </service>
   </extension>   
   <extension
         id="com.motorola.studio.android.handset.androidHandset"
         name="%monkeyServiceName"
         point="org.eclipse.sequoyah.device.framework.serviceDefinition">
      <service
            id="com.motorola.studio.android.devices.services.monkey">
         <status
               endId="com.motorola.studio.android.handset.status.handsetonline"
               haltId="com.motorola.studio.android.handset.status.handsetonline"
               startId="com.motorola.studio.android.handset.status.handsetonline">
         </status>
     </service>
   </extension>
    <extension
         id="com.motorola.studio.android.remote.androidRemoteDevice"
         name="%takeScreenshotServiceName"
         point="org.eclipse.sequoyah.device.framework.serviceDefinition">
      <service
            id="com.motorola.studio.android.devices.services.takescreenshot">
         <status
               endId="com.motorola.studio.android.remote.status.connected"
               haltId="com.motorola.studio.android.remote.status.connected"
               startId="com.motorola.studio.android.remote.status.connected">
         </status>
      </service>
   </extension>
    <extension
          id="com.motorola.studio.android.remote.androidRemoteDevice"
          name="%monkeyServiceName"
          point="org.eclipse.sequoyah.device.framework.serviceDefinition">
       <service
             id="com.motorola.studio.android.devices.services.monkey">
          <status
                endId="com.motorola.studio.android.remote.status.connected"
                haltId="com.motorola.studio.android.remote.status.connected"
                startId="com.motorola.studio.android.remote.status.connected">
          </status>
       </service>
    </extension>
     <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.motorola.studio.android.devices.services.ddms.ScreenshotServiceCommand"
            id="com.motorola.studio.android.device.take.screenshot"
            name="%takeScreenshotServiceName">
      </command>
      <command
            defaultHandler="com.motorola.studio.android.devices.services.ddms.MonkeyServiceCommand"
            id="com.motorola.studio.android.device.monkey"
            name="%monkeyDescription">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:com.motorola.studio.android.emulator.view.popup">
         <command
               commandId="com.motorola.studio.android.device.take.screenshot"
               icon="icons/screenshot_16.jpg"
               id="takescreenshot.command"
               style="push">
         </command>
         <command
               commandId="com.motorola.studio.android.device.monkey"
               icon="icons/monkey_16.png"
               id="monkey.command"
               style="push">
         </command>
      </menuContribution>
   </extension>
   
   <!--END monkey and screenshot services END-->
   <!--START language services START-->
   
   <extension
         id="changeLanguageService"
         name="%langServiceName"
         point="org.eclipse.sequoyah.device.framework.service">
      <service
            copyright="%copyright"
            description="%langServiceDescription"
            handler="com.motorola.studio.android.devices.services.lang.LangServiceHandler"
            icon="resources/flag_small.png"
            id="com.motorola.studio.android.devices.services.changeLanguageService"
            name="%langServiceName"
            parallelized="true"
            provider="%providerName"
            version="0.1.0"
            visible="true">
      </service>
   </extension>
   <extension
         id="com.motorola.studio.android.emulator.androidDevice"
         name="%langServiceName"
         point="org.eclipse.sequoyah.device.framework.serviceDefinition">
      <service
            id="com.motorola.studio.android.devices.services.changeLanguageService">
         <status
               endId="com.motorola.studio.android.emulator.status.online"
               haltId="com.motorola.studio.android.emulator.status.online"
               startId="com.motorola.studio.android.emulator.status.online">
         </status></service>
   </extension>
   <!-- <extension
         id="com.motorola.studio.android.handset.androidHandset"
         name="%deployServiceName"
         point="org.eclipse.sequoyah.device.framework.serviceDefinition">
      <service
            id="com.motorola.studio.android.service.deploy.deployService">
         <status
               endId="com.motorola.studio.android.handset.status.handsetonline"
               haltId="com.motorola.studio.android.handset.status.handsetonline"
               startId="com.motorola.studio.android.handset.status.handsetonline">
         </status></service>
   </extension> --> 
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.motorola.studio.android.devices.services.lang.LangServiceCommand"
            id="com.motorola.studio.android.device.change.emulator.language"
            name="%langServiceName">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:com.motorola.studio.android.emulator.view.popup">
         <command
               commandId="com.motorola.studio.android.device.change.emulator.language"
               icon="resources/flag_small.png"
               id="lang.command"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <!--END language services END-->
</plugin>
