<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (C) 2012 The Android Open Source Project

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="com.motorolamobility.preflighting.validateapp"
               icon="icons/MOTODEVAppValidator_16x16.png"
               id="com.motorolamobility.preflighting.command.validateapp"
               label="%analyze_apk_command.name"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <or>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <test
                                 forcePluginActivation="true"
                                 property="org.eclipse.core.resources.extension"
                                 value="apk">
                           </test>
                        </adapt>
                     </iterate>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                           <test
                                 property="org.eclipse.core.resources.open">
                           </test>
                           <test
                                 forcePluginActivation="true"
                                 property="org.eclipse.core.resources.projectNature"
                                 value="com.android.ide.eclipse.adt.AndroidNature">
                           </test>
                        </adapt>
                     </iterate>
                  </or>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:motorolaMenu?after=appValidatorSeparator">
         <menu
               id="studioAndroidAppValidatorMenu"
               label="%appValidatorSubMenuLabel">
            <command
                  commandId="com.motorolamobility.preflighting.validateapkdialog"
                  icon="icons/command_validate_apps_16x16.png"
                  label="%motodevmenu.appvalidator.apk"
                  style="push"
                  tooltip="%motodevmenu.appvalidator.apk.tooltip">
            </command>
            <command
                  commandId="com.motorolamobility.preflighting.validateprojectdialog"
                  icon="icons/command_validate_projs_16x16.png"
                  label="%motodevmenu.appvalidator.project"
                  style="push"
                  tooltip="%motodevmenu.appvalidator.project.tooltip">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.core.runtime.xml.source.RulerContext">
         <command
               commandId="org.eclipse.jdt.ui.edit.text.java.correction.assist.proposals"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="appValidatorToolbar">
               <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <or>
                     <equals
                           value="com.motorola.studio.android.perspective">
                     </equals>
                     <equals
                           value="org.eclipse.jdt.ui.JavaPerspective">
                     </equals>
                  </or>
               </with>
            </visibleWhen>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:appValidatorToolbar">
            <command
                  commandId="com.motorolamobility.preflighting.validateapkdialog"
                  icon="icons/command_validate_apps_16x16.png"
                  label="%toolbar.appvalidator.apk"
                  style="push"
                  tooltip="%toolbar.appvalidator.apk">
            </command>
            <command
                  commandId="com.motorolamobility.preflighting.validateprojectdialog"
                  icon="icons/command_validate_projs_16x16.png"
                  label="%toolbar.appvalidator.project"
                  style="push"
                  tooltip="%toolbar.appvalidator.project">
            </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:project">
         <separator
               name="projectMenuAppValidatorSeparator"
               visible="true">
         </separator>
         <menu
               id="projectAppValidatorMenu"
               label="%appValidatorSubMenuLabel">
               <command
                  commandId="com.motorolamobility.preflighting.validateapkdialog"
                  icon="icons/command_validate_apps_16x16.png"
                  label="%motodevmenu.appvalidator.apk"
                  style="push"
                  tooltip="%motodevmenu.appvalidator.apk.tooltip">
            </command>
            <command
                  commandId="com.motorolamobility.preflighting.validateprojectdialog"
                  icon="icons/command_validate_projs_16x16.png"
                  label="%motodevmenu.appvalidator.project"
                  style="push"
                  tooltip="%motodevmenu.appvalidator.project.tooltip">
            </command>
         </menu>
      </menuContribution>
      
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.motorolamobility.preflighting.ui.handlers.AnalyzeApkHandler"
            description="%analyze_apk_command.description"
            id="com.motorolamobility.preflighting.validateapp"
            name="%analyze_apk_command.name">
      </command>
      <command
            defaultHandler="com.motorolamobility.preflighting.ui.handlers.OpenProjectDialogHandler"
            description="%motodevmenu.appvalidator.project.tooltip"
            id="com.motorolamobility.preflighting.validateprojectdialog"
            name="%motodevmenu.appvalidator.project">
      </command>
      <command
            defaultHandler="com.motorolamobility.preflighting.ui.handlers.OpenApkDialogHandler"
            description="%motodevmenu.appvalidator.apk.tooltip"
            id="com.motorolamobility.preflighting.validateapkdialog"
            name="%motodevmenu.appvalidator.apk">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.motorola.studio.platform.ui.preference"
            class="com.motorolamobility.preflighting.ui.CommandLinePreferencePage"
            id="com.motorolamobility.preflighting.ui.commandLinePreferencePage"
            name="%command.line.page.name">
      </page>
   </extension>
</plugin>
