<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
  Copyright (C) 2012 The Android Open Source Project
 
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
 
       http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="studioAndroidViewCategory"
            class="com.motorolamobility.studio.android.certmanager.views.KeystoreManagerView"
            icon="icons/view_icon.png"
            id="com.motorola.studio.android.packaging.ui.signingview"
            name="%certificate_manager_view_name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <viewShortcut
               id="com.motorola.studio.android.packaging.ui.signingview">
         </viewShortcut>
         <view
               id="com.motorola.studio.android.packaging.ui.signingview"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension point="org.eclipse.ui.menus">         
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.motorola.studio.android.packaging.ui.signingview">
         <command
               commandId="com.motorolamobility.studio.android.certmanager.refresh"
               icon="icons/refresh.png"
               label="%refresh"
               style="push"
               tooltip="%refresh_tooltip">
         </command>
         <command
               commandId="com.motorolamobility.studio.android.certmanager.createkeystore"
               icon="icons/create_keystore.png"
               id="com.motorolamobility.studio.android.certmanager.createkeystore"
               label="%create_keystore"
               tooltip="%create_keytore_tooltip">
         </command>
         <command
               commandId="com.motorolamobility.studio.android.certmanager.deleteKeystore"
               icon="icons/delete_keystore.png"
               label="%delete_keystore"
               style="push"
               tooltip="%delete_keystore_tooltip">
         </command>
         <command
               commandId="com.motorolamobility.studio.android.certmanager.changeKeystorePassword"
               icon="icons/change_password_keystore.png"
               label="%change_keystore_passwd"
               style="push"
               tooltip="%change_keystore_passwd_tooltip">
         </command>
         <command
               commandId="com.motorolamobility.studio.android.certmanager.changeKeystoreType"
               disabledIcon="icons/change_keystore_type_disabled.png"
               icon="icons/change_keystore_type.png"
               label="%change_keystore_type"
               style="push"
               tooltip="%change_keystore_type_tooltip">
         </command>
         <command
               commandId="com.motorolamobility.studio.android.certmanager.importkeystore"
               icon="icons/import_keystore.png"
               id="com.motorolamobility.studio.android.certmanager.importkeystoreinview"
               label="%import_keystore"
               tooltip="%import_keystore_tooltip">
         </command>
         <command
               commandId="com.motorolamobility.studio.android.certmanager.importKeystoreEntries"
               icon="icons/import_entries.png"
               id="com.motorolamobility.studio.android.certmanager.importkeystoreentries"
               label="%import_keystore_entries"
               tooltip="%import_keystore_entries_tooltip">
         </command>
         <command
               commandId="com.motorolamobility.studio.android.certmanager.backup"
               icon="icons/backup_keystore.png"
               label="%backup"
               tooltip="%backup_tooltip">
         </command>
         <command
               commandId="com.motorolamobility.studio.android.certmanager.restoreBackup"
               icon="icons/restore_keystore.png"
               id="com.motorolamobility.studio.android.certmanager.restoreBackup"
               label="%restoreBackup"
               tooltip="%restoreBackup_tooltip">
         </command>
         <separator
               name="com.motorolamobility.studio.android.certmanager.separator1"
               visible="true">
         </separator>
         <command
               commandId="com.motorolamobility.studio.android.certmanager.createKey"
               icon="icons/create_key.png"
               label="%create_key"
               style="push"
               tooltip="%create_key_tooltip">
         </command>
         <command
               commandId="com.motorolamobility.studio.android.certmanager.changeKeyPassword"
               icon="icons/change_password_key.png"
               label="%change_key_password"
               style="push"
               tooltip="%change_key_password_tooltip">
         </command>
         <command
               commandId="com.motorolamobility.studio.android.certmanager.deleteEntry"
               icon="icons/delete_key.png"
               label="%delete_key"
               style="push"
               tooltip="%delete_key_tooltip">
         </command>
         <command
               commandId="com.motorolamobility.studio.android.certmanager.certificateProperties"
               disabledIcon="icons/properties_disabled.png"
               icon="icons/properties.png"
               label="%certificate_properties"
               style="push"
               tooltip="%certificate_properties_tooltip">
         </command>
         <separator
               name="com.motorolamobility.studio.android.certmanager.separator2"
               visible="true">
         </separator>
            <command
                  commandId="com.motorolamobility.studio.android.certmanager.addSignature"
                  icon="icons/sign_package.png"
                  id="com.motorolamobility.studio.android.certmanager.addsignatureinview"
                  label="%sign_package"
                  tooltip="%sign_package_tooltip">
            </command>
            <command
                  commandId="com.motorolamobility.studio.android.certmanager.removeSignature"
                  icon="icons/unsign_package.png"
                  id="com.motorolamobility.studio.android.certmanager.removesignatureinview"
                  label="%unsign_package"
                  tooltip="%unsign_package_tooltip">
            </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="com.motorola.studio.android.packaging.ui.signingview">
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
          <command
            defaultHandler="com.motorolamobility.studio.android.certmanager.command.ImportKeystoreHandler"
            description="%import_keystore"
            id="com.motorolamobility.studio.android.certmanager.importkeystore"
            name="%import_keystore">
      </command>
      <command
            description="%delete_keystore"
            id="com.motorolamobility.studio.android.certmanager.deleteKeystore"
            name="%delete_keystore">
      </command>
      <command            defaultHandler="com.motorolamobility.studio.android.certmanager.command.CreateKeystoreHandler"
            description="%create_keystore"
            id="com.motorolamobility.studio.android.certmanager.createkeystore"
            name="%create_keystore">
      </command>
      <command
            description="%certificate_properties"
            id="com.motorolamobility.studio.android.certmanager.certificateProperties"
            name="%certificate_properties">
      </command>
      <command
            defaultHandler="com.motorolamobility.studio.android.certmanager.command.UnsignExternalPackagesHandler"
            description="%unsign_package"
            id="com.motorolamobility.studio.android.certmanager.removeSignature"
            name="%unsign_package">
      </command>
      <command
            description="%sign_package"
            id="com.motorolamobility.studio.android.certmanager.addSignature"
            name="%sign_package">
      </command>
      <command
            description="%create_key"
            id="com.motorolamobility.studio.android.certmanager.createKey"
            name="%create_key">
      </command>
      <command
            description="%refresh"
            id="com.motorolamobility.studio.android.certmanager.refresh"
            name="%refresh">
      </command>
      <command
            description="%backup"
            id="com.motorolamobility.studio.android.certmanager.backup"
            name="%backup">
      </command>
      <command
            defaultHandler="com.motorolamobility.studio.android.certmanager.command.RestoreBackupHandler"
            description="%restoreBackup"
            id="com.motorolamobility.studio.android.certmanager.restoreBackup"
            name="%restoreBackup">
      </command>
      <command
            description="%delete_key"
            id="com.motorolamobility.studio.android.certmanager.deleteEntry"
            name="%delete_key">
      </command>
      <command
            description="%change_keystore_passwd"
            id="com.motorolamobility.studio.android.certmanager.changeKeystorePassword"
            name="%change_keystore_passwd">
      </command>
      <command
            description="%change_key_password"
            id="com.motorolamobility.studio.android.certmanager.changeKeyPassword"
            name="%change_key_password">
      </command>
      <command
            description="%change_keystore_type"
            id="com.motorolamobility.studio.android.certmanager.changeKeystoreType"
            name="%change_keystore_type">
      </command>
      <command
            description="%import_keystore_entries"
            id="com.motorolamobility.studio.android.certmanager.importKeystoreEntries"
            name="%import_keystore_entries">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
         <objectContribution
            adaptable="false"
            id="com.motorolamobility.studio.android.certmanager.core.ui.action.KeyStoreModel"
            objectClass="com.motorolamobility.studio.android.certmanager.ui.model.KeyStoreNode">
            <action
                  class="com.motorolamobility.studio.android.certmanager.ui.action.PopupMenuActionDelegate"
                  definitionId="com.motorolamobility.studio.android.certmanager.backup"
                  icon="icons/backup_keystore.png"
                  id="com.motorolamobility.studio.android.certmanager.core.ui.action.backupKeystore"
                  label="%backup">
               <enablement>
                  <objectState
                        name="com.motorolamobility.studio.android.certmanager.core.property.nodeStatus"
                        value="com.motorolamobility.studio.android.certmanager.core.property.keystoreTypeOk">
                  </objectState>
               </enablement>
            </action>
         <action
               class="com.motorolamobility.studio.android.certmanager.ui.action.PopupMenuActionDelegate"
               definitionId="com.motorolamobility.studio.android.certmanager.deleteKeystore"
               icon="icons/delete_keystore.png"
               id="com.motorolamobility.studio.android.certmanager.core.ui.action.deleteKeystore"
               label="%delete_keystore">
         </action>
         <action
               class="com.motorolamobility.studio.android.certmanager.ui.action.PopupMenuActionDelegate"
               definitionId="com.motorolamobility.studio.android.certmanager.refresh"
               enablesFor="1"
               icon="icons/refresh.png"
               id="com.motorolamobility.studio.android.certmanager.core.ui.action.refresh"
               label="%refresh">
         </action>
         <action
               class="com.motorolamobility.studio.android.certmanager.ui.action.PopupMenuActionDelegate"
               definitionId="com.motorolamobility.studio.android.certmanager.changeKeystorePassword"
               enablesFor="1"
               icon="icons/change_password_keystore.png"
               id="com.motorolamobility.studio.android.certmanager.core.ui.action.changeKeystorePassword"
               label="%change_keystore_passwd">
            <enablement>
               <objectState
                     name="com.motorolamobility.studio.android.certmanager.core.property.nodeStatus"
                     value="com.motorolamobility.studio.android.certmanager.core.property.keystoreTypeOk">
               </objectState>
            </enablement>
         </action>
         <action
               class="com.motorolamobility.studio.android.certmanager.ui.action.PopupMenuActionDelegate"
               definitionId="com.motorolamobility.studio.android.certmanager.changeKeystoreType"
               enablesFor="1"
               icon="icons/change_keystore_type.png"
               id="com.motorolamobility.studio.android.certmanager.core.ui.action.changeKeystoreType"
               label="%change_keystore_type">
            <enablement>
               <objectState
                     name="com.motorolamobility.studio.android.certmanager.core.property.nodeStatus"
                     value="com.motorolamobility.studio.android.certmanager.core.property.keystoreTypeOk">
               </objectState>
            </enablement>
         </action>
         <action
               class="com.motorolamobility.studio.android.certmanager.ui.action.PopupMenuActionDelegate"
               definitionId="com.motorolamobility.studio.android.certmanager.importKeystoreEntries"
               enablesFor="1"
               icon="icons/import_entries.png"
               id="com.motorolamobility.studio.android.certmanager.core.ui.action.importKeystoreEntries"
               label="%import_keystore_entries">
            <enablement>
               <objectState
                     name="com.motorolamobility.studio.android.certmanager.core.property.nodeStatus"
                     value="com.motorolamobility.studio.android.certmanager.core.property.keystoreTypeOk">
               </objectState>
            </enablement>
         </action>
         <action
               class="com.motorolamobility.studio.android.certmanager.ui.action.PopupMenuActionDelegate"
               definitionId="com.motorolamobility.studio.android.certmanager.createKey"
               enablesFor="1"
               icon="icons/create_key.png"
               id="com.motorolamobility.studio.android.certmanager.core.ui.action.createKey"
               label="%create_key">
            <enablement>
               <objectState
                     name="com.motorolamobility.studio.android.certmanager.core.property.nodeStatus"
                     value="com.motorolamobility.studio.android.certmanager.core.property.keystoreTypeOk">
               </objectState>
            </enablement>
         </action>
         <action
               class="com.motorolamobility.studio.android.certmanager.ui.action.PopupMenuActionDelegate"
               definitionId="com.motorolamobility.studio.android.certmanager.addSignature"
               enablesFor="1"
               icon="icons/sign_package.png"
               id="com.motorolamobility.studio.android.certmanager.core.ui.action.addSignature"
               label="%sign_package">
            <enablement>
               <objectState
                     name="com.motorolamobility.studio.android.certmanager.core.property.nodeStatus"
                     value="com.motorolamobility.studio.android.certmanager.core.property.keystoreTypeOk">
               </objectState>
            </enablement>
         </action>               
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.motorolamobility.studio.android.certmanager.core.ui.action.KeyStoreEntry"
            objectClass="com.motorolamobility.studio.android.certmanager.ui.model.EntryNode">
     	 <action
               class="com.motorolamobility.studio.android.certmanager.ui.action.PopupMenuActionDelegate"
               definitionId="com.motorolamobility.studio.android.certmanager.certificateProperties"
               enablesFor="1"
               icon="icons/properties.png"
               id="com.motorolamobility.studio.android.certmanager.core.ui.action.certificateProperties"
               label="%certificate_properties">
       	</action>
       	 <action
               class="com.motorolamobility.studio.android.certmanager.ui.action.PopupMenuActionDelegate"
               definitionId="com.motorolamobility.studio.android.certmanager.deleteEntry"
               icon="icons/delete_key.png"
               id="com.motorolamobility.studio.android.certmanager.core.ui.action.deleteEntry"
               label="%delete_key">
       	</action>
         <action
               class="com.motorolamobility.studio.android.certmanager.ui.action.PopupMenuActionDelegate"
               definitionId="com.motorolamobility.studio.android.certmanager.changeKeyPassword"
               enablesFor="1"
               icon="icons/change_password_key.png"
               id="com.motorolamobility.studio.android.certmanager.core.ui.action.changeKeyPassword"
               label="%change_key_password">
         </action>
      </objectContribution>
   </extension>
    <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="false"
            icon="icons/ovr16/error_ovr.png"
            id="com.motorolamobility.studio.android.certmanager.core.ui.decorator.errorNode"
            label="%decorator_error_node_label"
            lightweight="true"
            location="BOTTOM_RIGHT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="com.motorolamobility.studio.android.certmanager.ui.model.ITreeNode">
               </objectClass>
               <objectState
                     name="com.motorolamobility.studio.android.certmanager.core.property.nodeStatus"
                     value="com.motorolamobility.studio.android.certmanager.core.property.nodeStatusError">
               </objectState>
            </and>
         </enablement>
      </decorator>
      <decorator
            adaptable="false"
            icon="icons/ovr16/warning_ovr.png"
            id="com.motorolamobility.studio.android.certmanager.core.ui.decorator.warningNode"
            label="%decorator_warning_node_label"
            lightweight="true"
            location="BOTTOM_RIGHT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="com.motorolamobility.studio.android.certmanager.ui.model.ITreeNode">
               </objectClass>
               <objectState
                     name="com.motorolamobility.studio.android.certmanager.core.property.nodeStatus"
                     value="com.motorolamobility.studio.android.certmanager.core.property.nodeStatusWarning">
               </objectState>
            </and>
         </enablement>
      </decorator>
   </extension>
    <extension
          point="org.eclipse.ui.handlers">
       <handler
             class="com.motorolamobility.studio.android.certmanager.command.DeleteKeystoreHandler"
             commandId="com.motorolamobility.studio.android.certmanager.deleteKeystore">
          <activeWhen>
             <with
                   variable="activeWorkbenchWindow">
                <instanceof
                      value="org.eclipse.ui.IWorkbenchWindow">
                </instanceof>
             </with>
          </activeWhen>
          <enabledWhen>
             <with
                   variable="selection">
                <iterate
                      ifEmpty="false">
                   <adapt
                         type="com.motorolamobility.studio.android.certmanager.ui.model.IKeyStore">
                   </adapt>
                </iterate>
                <count
                      value="+">
                </count>
             </with>
          </enabledWhen>
       </handler>
       <handler
             class="com.motorolamobility.studio.android.certmanager.command.CreateKeyHandler"
             commandId="com.motorolamobility.studio.android.certmanager.createKey">
          <activeWhen>
             <with
                   variable="activeWorkbenchWindow">
                <instanceof
                      value="org.eclipse.ui.IWorkbenchWindow">
                </instanceof>
             </with>
          </activeWhen>
          <enabledWhen>
             <with
                   variable="selection">
                <iterate
                      ifEmpty="false">
                   <adapt
                         type="com.motorolamobility.studio.android.certmanager.ui.model.IKeyStore">
                   </adapt>
                   <test
                         property="com.motorolamobility.studio.android.certmanager.core.property.nodeStatus"
                         value="com.motorolamobility.studio.android.certmanager.core.property.keystoreTypeOk">
                   </test>
                </iterate>
                <count
                      value="1">
                </count>
             </with>
          </enabledWhen>
       </handler>
       <handler
             class="com.motorolamobility.studio.android.certmanager.command.CertificatePropertiesHandler"
             commandId="com.motorolamobility.studio.android.certmanager.certificateProperties">
          <activeWhen>
             <with
                   variable="activeWorkbenchWindow">
                <instanceof
                      value="org.eclipse.ui.IWorkbenchWindow">
                </instanceof>
             </with>
          </activeWhen>
          <enabledWhen>
             <with
                   variable="selection">
                <iterate
                      ifEmpty="false">
                   <adapt
                         type="com.motorolamobility.studio.android.certmanager.ui.model.IKeyStoreEntry">
                   </adapt>
                </iterate>
                <count
                      value="1">
                </count>
             </with>
          </enabledWhen>
       </handler>
       <handler
             class="com.motorolamobility.studio.android.certmanager.command.RefreshHandler"
             commandId="com.motorolamobility.studio.android.certmanager.refresh">
          <activeWhen>
             <with
                   variable="activeWorkbenchWindow">
                <instanceof
                      value="org.eclipse.ui.IWorkbenchWindow">
                </instanceof>
             </with>
          </activeWhen>
          <enabledWhen>
             <with
                   variable="selection">
                <iterate
                      ifEmpty="false">
                   <adapt
                         type="com.motorolamobility.studio.android.certmanager.ui.model.IKeyStore">
                   </adapt>
                </iterate>
                <count
                      value="1">
                </count>
             </with>
          </enabledWhen>
       </handler>
       <handler
             class="com.motorolamobility.studio.android.certmanager.command.ChangePasswordKeystoreHandler"
             commandId="com.motorolamobility.studio.android.certmanager.changeKeystorePassword">
          <activeWhen>
             <with
                   variable="activeWorkbenchWindow">
                <instanceof
                      value="org.eclipse.ui.IWorkbenchWindow">
                </instanceof>
             </with>
          </activeWhen>
          <enabledWhen>
             <with
                   variable="selection">
                <iterate
                      ifEmpty="false">
                   <adapt
                         type="com.motorolamobility.studio.android.certmanager.ui.model.IKeyStore">
                   </adapt>
                   <test
                         property="com.motorolamobility.studio.android.certmanager.core.property.nodeStatus"
                         value="com.motorolamobility.studio.android.certmanager.core.property.keystoreTypeOk">
                   </test>
                </iterate>
                <count
                      value="1">
                </count>
             </with>
          </enabledWhen>
       </handler>
       <handler
             class="com.motorolamobility.studio.android.certmanager.command.DeleteKeyHandler"
             commandId="com.motorolamobility.studio.android.certmanager.deleteEntry">
          <activeWhen>
             <with
                   variable="activeWorkbenchWindow">
                <instanceof
                      value="org.eclipse.ui.IWorkbenchWindow">
                </instanceof>
             </with>
          </activeWhen>
          <enabledWhen>
             <with
                   variable="selection">
                <iterate
                      ifEmpty="false">
                   <adapt
                         type="com.motorolamobility.studio.android.certmanager.ui.model.IKeyStoreEntry">
                   </adapt>
                </iterate>
                <count
                      value="+">
                </count>
             </with>
          </enabledWhen>
       </handler>
       <handler
             class="com.motorolamobility.studio.android.certmanager.command.ChangePasswordKeyHandler"
             commandId="com.motorolamobility.studio.android.certmanager.changeKeyPassword">
          <activeWhen>
             <with
                   variable="activeWorkbenchWindow">
                <instanceof
                      value="org.eclipse.ui.IWorkbenchWindow">
                </instanceof>
             </with>
          </activeWhen>
          <enabledWhen>
             <with
                   variable="selection">
                <iterate
                      ifEmpty="false">
                   <adapt
                         type="com.motorolamobility.studio.android.certmanager.ui.model.IKeyStoreEntry">
                   </adapt>
                </iterate>
                <count
                      value="1">
                </count>
             </with>
          </enabledWhen>
       </handler>
       <handler
             class="com.motorolamobility.studio.android.certmanager.command.ChangeKeyStoreTypeHandler"
             commandId="com.motorolamobility.studio.android.certmanager.changeKeystoreType">
          <activeWhen>
             <with
                   variable="activeWorkbenchWindow">
                <instanceof
                      value="org.eclipse.ui.IWorkbenchWindow">
                </instanceof>
             </with>
          </activeWhen>
          <enabledWhen>
             <with
                   variable="selection">
                <iterate
                      ifEmpty="false">
                   <adapt
                         type="com.motorolamobility.studio.android.certmanager.ui.model.IKeyStore">
                   </adapt>
                   <test
                         property="com.motorolamobility.studio.android.certmanager.core.property.nodeStatus"
                         value="com.motorolamobility.studio.android.certmanager.core.property.keystoreTypeOk">
                   </test>
                </iterate>
                <count
                      value="1">
                </count>
             </with>
          </enabledWhen>
       </handler>
       <handler
             class="com.motorolamobility.studio.android.certmanager.command.ImportKeyStoreEntriesHandler"
             commandId="com.motorolamobility.studio.android.certmanager.importKeystoreEntries">
          <activeWhen>
             <with
                   variable="activeWorkbenchWindow">
                <instanceof
                      value="org.eclipse.ui.IWorkbenchWindow">
                </instanceof>
             </with>
          </activeWhen>
          <enabledWhen>
             <with
                   variable="selection">
                <iterate
                      ifEmpty="true">
                   <adapt
                         type="com.motorolamobility.studio.android.certmanager.ui.model.IKeyStore">
                   </adapt>
                   <test
                         property="com.motorolamobility.studio.android.certmanager.core.property.nodeStatus"
                         value="com.motorolamobility.studio.android.certmanager.core.property.keystoreTypeOk">
                   </test>
                </iterate>
                <count
                      value="1">
                </count>
             </with>
          </enabledWhen>
       </handler>
       <handler
             class="com.motorolamobility.studio.android.certmanager.command.BackupHandler"
             commandId="com.motorolamobility.studio.android.certmanager.backup">
          <activeWhen>
             <with
                   variable="activeWorkbenchWindow">
                <instanceof
                      value="org.eclipse.ui.IWorkbenchWindow">
                </instanceof>
             </with>
          </activeWhen>
          <enabledWhen>
             <with
                   variable="selection">
                <iterate
                      ifEmpty="false">
                   <adapt
                         type="com.motorolamobility.studio.android.certmanager.ui.model.IKeyStore">
                   </adapt>
                   <test
                         property="com.motorolamobility.studio.android.certmanager.core.property.nodeStatus"
                         value="com.motorolamobility.studio.android.certmanager.core.property.keystoreTypeOk">
                   </test>
                </iterate>
             </with>
          </enabledWhen>
       </handler>
       <handler
             class="com.motorolamobility.studio.android.certmanager.command.SignExternalPackagesHandler"
             commandId="com.motorolamobility.studio.android.certmanager.addSignature">
          <activeWhen>
             <with
                   variable="activeWorkbenchWindow">
                <instanceof
                      value="org.eclipse.ui.IWorkbenchWindow">
                </instanceof>
             </with>
          </activeWhen>
          <enabledWhen>
             <with
                   variable="selection">
                <iterate
                      ifEmpty="false">
                   <adapt
                         type="com.motorolamobility.studio.android.certmanager.ui.model.IKeyStore">
                   </adapt>
                   <test
                         property="com.motorolamobility.studio.android.certmanager.core.property.nodeStatus"
                         value="com.motorolamobility.studio.android.certmanager.core.property.keystoreTypeOk">
                   </test>
                </iterate>
                <count
                      value="1">
                </count>
             </with>
          </enabledWhen>
       </handler>
    </extension>
    <extension
          point="org.eclipse.core.expressions.propertyTesters">
       <propertyTester
             class="com.motorolamobility.studio.android.certmanager.property.tester.TreeNodeTester"
             id="com.motorolamobility.studio.android.certmanager.property.TreeNodeTesterId"
             namespace="com.motorolamobility.studio.android.certmanager.core.property"
             properties="nodeStatus"
             type="com.motorolamobility.studio.android.certmanager.ui.model.IKeyStore">
       </propertyTester>
    </extension>	
</plugin>
