<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
  Copyright (C) 2012 The Android Open Source Project
 
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
 
       http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<plugin>   
<extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="monkeyLaunchConfigurationType"
            modes="run"
            name="%monkeyLaunch.name"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="com.motorola.studio.android.wizards.monkey.MonkeyConfigurationDelegate"
            delegateDescription="monkeyDelegateDescription"
            id="monkeyLaunchDelegate"
            modes="run"
            name="monkeyDelegateName"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer"
            type="monkeyLaunchConfigurationType">
      </launchDelegate>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.motorola.studio.android.wizards.monkey.MonkeyConfigurationTabGroup"
            description="%monkeyLaunch.description"
            id="monkeyLaunchConfigurationTabGroup"
            type="monkeyLaunchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="monkeyLaunchConfigurationType"
            icon="icons/monkey/monkey_16.png"
            id="monkeyLaunchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
<extension
       id="com.motorola.studio.android.studioAndroidWizard"
       point="org.eclipse.ui.newWizards">
       <wizard
                 canFinishEarly="false"
                 category="com.android.ide.eclipse.wizards.category"
                 class="com.motorola.studio.android.wizards.project.NewAndroidProjectWizard"
                 finalPerspective="com.motorola.studio.android.perspective"
                 hasPages="true"
                 icon="icons/obj16/newaprj_wiz.gif"
                 id="com.motorola.studio.android.wizards.newProjectWizard"
                 name="%android.wizard.project.name"
                 project="true">
          <description>
             %android.wizard.project.description
          </description>
       </wizard>
       <wizard
             canFinishEarly="false"
             category="com.android.ide.eclipse.wizards.category"
             class="com.motorola.studio.android.wizards.widget.NewAndroidWidgetProjectWizard"
             finalPerspective="com.motorola.studio.android.perspective"
             hasPages="true"
             icon="icons/obj16/widget_provider_prj_wiz_toolbar.png"
             id="com.motorola.studio.android.wizards.newWidgetProjectWizard"
             name="%android.wizard.widget.project.name"
             project="true">
          <description>
             %android.wizard.widget.project.description
          </description>
       </wizard>
        </extension>
        
         <extension
               point="org.eclipse.ui.startup">
            <startup
                  class="com.motorola.studio.android.adt.StudioDeviceChangeListener">
            </startup>
             <startup
                  class="com.motorola.studio.android.AssociateProguardEditor">
            </startup>
         </extension>
         <extension
               point="org.eclipse.ui.preferencePages">
            <page
                  category="com.motorola.studio.platform.ui.preference"
                  class="com.motorola.studio.android.preferences.ui.AndroidPreferencePage"
                  id="com.motorola.studio.android.preferencepage"
                  name="%Plugin_Name">
            </page>
         </extension>
         <extension
               point="org.eclipse.ui.commands">
               <command
                  defaultHandler="com.motorola.studio.android.command.NewProjectWizard"
                  id="com.motorola.studio.android.new.project"
                  name="%motodevmenu.new.project">
            </command>           
            <command
                  defaultHandler="com.motorola.studio.android.command.NewWidgetProjectWizard"
                  id="com.motorola.studio.android.new.widget.project"
                  name="%motodevmenu.new.widget.project">
            </command>
            <command
            	defaultHandler="com.motorola.studio.android.command.OpenStringEditor"
            	description="%command.localization.description"
            	id="com.motorola.studio.android.open.localization.editor"
            	name="%command.localization.name">
      		</command>      		
            <command
                  defaultHandler="com.motorola.studio.android.command.CleanProjects"
                  description="%popupmenu.clean.projects.command.name"
                  id="com.motorola.studio.android.clean.projects"
                  name="%popupmenu.clean.projects.command.name">
            </command>
         </extension>
         <extension
               point="org.eclipse.ui.menus">
            <menuContribution
                  locationURI="menu:studioAndroidNewWizardsMenu">
               <command
                     commandId="com.motorola.studio.android.new.project"
                     icon="icons/obj16/newaprj_wiz.gif"
                     label="%motodevmenu.new.project"
                     style="push"
                     tooltip="%motodevmenu.new.project.tooltip">
               </command>
               <command
                     commandId="com.motorola.studio.android.new.widget.project"
                     icon="icons/obj16/widget_provider_prj_wiz_toolbar.png"
                     label="%motodevmenu.new.widget.project"
                     style="push"
                     tooltip="%motodevmenu.new.widget.project.tooltip">
               </command>
               <separator
                     name="com.motorola.studio.android.afterNewProjectSeparator"
                     visible="true">
               </separator>
            </menuContribution>
            <menuContribution
                  locationURI="toolbar:studioAndroidToolbar">
               <command
                     commandId="com.motorola.studio.android.new.project"
                     icon="icons/obj16/newaprj_wiz.gif"
                     label="%motodevmenu.new.project"
                     style="push">
                  <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <or>
                     <equals
                           value="com.motorola.studio.android.perspective">
                     </equals>
                     <equals
                           value="com.motorola.studio.android.db.perspective">
                     </equals>
                     <equals
                           value="org.eclipse.sequoyah.android.cdt.build.ui.perspective">
                     </equals>
                  </or>
               </with>
            </visibleWhen>
               </command>
               <command
                     commandId="com.motorola.studio.android.new.widget.project"
                     icon="icons/obj16/widget_provider_prj_wiz_toolbar.png"
                     label="%motodevmenu.new.widget.project"
                     style="push">
                  <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <or>
                     <equals
                           value="com.motorola.studio.android.perspective">
                     </equals>
                     <equals
                           value="com.motorola.studio.android.db.perspective">
                     </equals>
                     <equals
                           value="org.eclipse.sequoyah.android.cdt.build.ui.perspective">
                     </equals>
                  </or>
               </with>
            </visibleWhen>
               </command>
            </menuContribution>
            <menuContribution locationURI="menu:motorolaMenu?after=localizationToolsSeparator">
       			<command
                commandId="com.motorola.studio.android.open.localization.editor"
                icon="platform:/plugin/org.eclipse.sequoyah.localization.tools/icons/loc_icon.png"
                label="%motodevmenu.localization.openEditor"
                style="push">
       			</command>
    		</menuContribution>
            <menuContribution
                  allPopups="true"
                  locationURI="popup:org.eclipse.ui.popup.any">
               <command
                     commandId="com.motorola.studio.android.clean.projects"
                     label="%popupmenu.clean.projects.command.name"
                     style="push"
                     tooltip="%popupmenu.clean.projects.command.name">
                  <visibleWhen
                        checkEnabled="false">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                           <test
                                 property="org.eclipse.core.resources.open">
                           </test>
                           <test
                                 forcePluginActivation="true"
                                 property="org.eclipse.core.resources.projectNature"
                                 value="com.android.ide.eclipse.adt.AndroidNature">
                           </test>
                        </adapt>
                     </iterate>
                  </visibleWhen>
               </command>
            </menuContribution>
            <menuContribution
                  locationURI="menu:motorolaMenu?after=externalToolsSeparator">
               <command
                     commandId="com.motorola.studio.android.obfuscate.projects"
                     icon="icons/obj16/obfuscate.png"
                     label="%command.name.obfuscate"
                     style="push">
               </command>
            </menuContribution>            
         </extension>
         <extension
               point="com.motorola.studio.android.logger.collector.log">
            <logContribution
                  logFileImpl="com.motorola.studio.android.logger.DevicePropertyLogger">
            </logContribution>
            <logContribution
                  logFileImpl="com.motorola.studio.android.logger.AppValidatorLogCollector">
            </logContribution>
         </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.motorola.studio.android.application.store.handlers.OpenMotorolaMobilityDevicePropertiesHandler"
            id="com.motorola.studio.android.open.motorola.products"
            name="%command.name.2">
      </command>
      <command
            defaultHandler="com.motorola.studio.android.obfuscate.handlers.ObfuscateProjectsHandler"
            id="com.motorola.studio.android.obfuscate.projects"
            name="%command.name.obfuscate">
      </command>
      <command
            defaultHandler="com.motorola.studio.android.help.handlers.OpenHelpAndroidHandler"
            id="com.motorola.studio.android.HelpAndroid"
            name="%command.name.helpandroid">
      </command>
      <command
            defaultHandler="com.motorola.studio.android.help.handlers.OpenHelpStudioHandler"
            id="com.motorola.studio.android.HelpStudio"
            name="%command.name.helpstudio">
      </command>
      <command
            defaultHandler="com.motorola.studio.android.help.handlers.OpenOnlineHelpStudioHandler"            
            id="com.motorola.studio.android.OnlineHelpStudio"
            name="%command.name.helponline">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:motorolaMenu?after=com.motorola.studio.android.open.motodev.web.resources">
         <command
               commandId="com.motorola.studio.android.open.motorola.products"
               disabledIcon="icons/obj16/handset_info.png"
               hoverIcon="icons/obj16/handset_info.png"
               icon="icons/obj16/handset_info.png"
               id="open.motorola.products.ui.command"
               label="%command.name.2"
               mnemonic="%command.mnemonic.2"
               style="push"
               tooltip="%command.tooltip.2">
         </command>
      </menuContribution>
   </extension>
  <extension
        point="org.eclipse.ui.perspectiveExtensions">
     <perspectiveExtension
           targetID="org.eclipse.sequoyah.android.cdt.build.ui.perspective">
        <newWizardShortcut
              id="com.motorola.studio.android.wizards.newProjectWizard">
        </newWizardShortcut>
        <newWizardShortcut
              id="com.motorola.studio.android.wizards.newWidgetProjectWizard">
        </newWizardShortcut>
     </perspectiveExtension>
  </extension>
  <extension
        point="org.eclipse.ui.navigator.navigatorContent">
     <commonWizard
           menuGroupId="1newAndroidProject"
           type="new"
           wizardId="com.motorola.studio.android.wizards.newProjectWizard">
        <enablement></enablement>
     </commonWizard>
     <commonWizard
           menuGroupId="1newAndroidProject"
           type="new"
           wizardId="com.motorola.studio.android.wizards.newWidgetProjectWizard">
        <enablement></enablement>
     </commonWizard>
     <commonWizard
           menuGroupId="2newAndroidBuildingBlock"
           type="new"
           wizardId="com.motorola.studio.android.wizards.newActivityWizard">
        <enablement>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="com.android.ide.eclipse.adt.AndroidNature">
               </test>
            </adapt>
         </enablement>
     </commonWizard>
     <commonWizard
           menuGroupId="2newAndroidBuildingBlock"
           type="new"
           wizardId="com.motorola.studio.android.wizards.newActivityBasedOnTemplateWizard">
        <enablement>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="com.android.ide.eclipse.adt.AndroidNature">
               </test>
            </adapt>
         </enablement>
     </commonWizard>
          <commonWizard
           menuGroupId="2newAndroidBuildingBlock"
           type="new"
           wizardId="com.motorola.studio.android.wizards.newReceiverWizard">
        <enablement>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="com.android.ide.eclipse.adt.AndroidNature">
               </test>
            </adapt>
         </enablement>
     </commonWizard>
          <commonWizard
           menuGroupId="2newAndroidBuildingBlock"
           type="new"
           wizardId="com.motorola.studio.android.wizards.newServiceWizard">
        <enablement>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="com.android.ide.eclipse.adt.AndroidNature">
               </test>
            </adapt>
         </enablement>
     </commonWizard>
          <commonWizard
           menuGroupId="2newAndroidBuildingBlock"
           type="new"
           wizardId="com.motorola.studio.android.wizards.newProviderWizard">
        <enablement>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="com.android.ide.eclipse.adt.AndroidNature">
               </test>
            </adapt>
         </enablement>
     </commonWizard>
  </extension>
  <extension
     point = "org.eclipse.ui.propertyPages">
        <page
           id="com.motorola.studio.android.MotodevStudioPropertyPage"
           name="%motodev.category.name"
	   class="com.motorola.studio.android.propertypage.MotodevStudioPropertyPage">	   		
           <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		          <test property="org.eclipse.core.resources.projectNature" value="com.android.ide.eclipse.adt.AndroidNature"/>
		     </adapt>         
         </enabledWhen>         
        </page>       
        
  </extension>    
  <!-- Help -->
  <extension
         point="org.eclipse.ui.menus">
  <menuContribution
            allPopups="false"
            locationURI="menu:motorolaMenu?after=helpSeparator">
         <menu
               id="studioHelpMenu"
               label="%label.help">
            <command
                  commandId="com.motorola.studio.android.OnlineHelpStudio"
                  icon="IMG_LCL_LINKTO_HELP"
                  label="%command.name.helponline"
                  style="push"
                  tooltip="%command.name.helponline">
            </command>
            <command
                  commandId="com.motorola.studio.android.HelpAndroid"
                  icon="icons/obj16/android_discussion_16x16.png"
                  label="%command.name.helpandroid"
                  style="push"
                  tooltip="%command.name.helpandroid">
            </command>
            <command
                  commandId="com.motorola.studio.android.HelpStudio"
                  icon="icons/obj16/studio_discussion_16x16.png"
                  label="%command.name.helpstudio"
                  style="push"
                  tooltip="%command.name.helpstudio">
            </command>
         </menu>
      </menuContribution>
      </extension>
  <!-- PLATFORM -->
  <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.motorola.studio.android.preferences.ui.MotodevStudioPreference"
            id="com.motorola.studio.platform.ui.preference"
            name="MOTODEV Studio">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="com.motorola.studio.platform.ui.cheatsheet"
            name="MOTODEV Studio">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="com.motorola.studio.platform.ui.import"
            name="MOTODEV Studio">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="com.motorola.studio.platform.ui.export"
            name="MOTODEV Studio">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.motorola.studio.platform.ui.newproject"
            name="MOTODEV Studio">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.motorola.studio.android.perspective.MotodevStudioAndroidPerspective"
            fixed="false"
            icon="icons/obj16/plate16.png"
            id="com.motorola.studio.android.perspective"
            name="MOTODEV Studio for Android">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:motorolaMenu">
         <separator
               name="newSeparator"
               visible="true">
         </separator>
         <menu
               id="studioAndroidNewWizardsMenu"
               label="%newWizardsLabel">
         </menu>
         <separator
               name="appValidatorSeparator"
               visible="false">
         </separator>
         <separator
               name="manageDatabaseSeparator"
               visible="false">
         </separator>
         <separator
               name="autoGenerateCodeSeparator"
               visible="false">
         </separator>
         <separator
               name="signingSeparator"
               visible="false">
         </separator>
         <separator
               name="otherNewWizardsSeparator"
               visible="true">
         </separator>
         <separator
               name="localizationToolsSeparator"
               visible="true">
         </separator>
         <separator
               name="externalToolsSeparator"
               visible="true">
         </separator>
         <separator
               name="webResourceSeparator"
               visible="true">
         </separator>
         <command
               commandId="com.motorola.studio.android.open.motodev.web.resources"
               icon="icons/obj16/webresources.gif"
               label="%motodevmenu.web.resources"
               style="push">
         </command>
         <separator
               name="updateSeparator"
               visible="true">
         </separator>
         <separator
               name="helpSeparator"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="studioAndroidToolbar">
               <!-- This visibleWhen block is created for when the bug of the visibleWhen behavior on 
               toolbar is fixed -->
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <or>
                     <equals
                           value="com.motorola.studio.android.perspective">
                     </equals>
                     <equals
                           value="com.motorola.studio.android.db.perspective">
                     </equals>
                     <equals
                           value="org.eclipse.sequoyah.android.cdt.build.ui.perspective">
                     </equals>
                  </or>
               </with>
            </visibleWhen>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <menu
               id="studioAndroidPopupMenu"
               label="%studioLabel">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <or>
                     <equals
                           value="com.motorola.studio.android.perspective">
                     </equals>
                     <equals
                           value="org.eclipse.sequoyah.android.cdt.build.ui.perspective">
                     </equals>
                  </or>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.views.ResourceNavigator">
         <menu
               id="studioAndroidPopupMenu"
               label="%studioLabel">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <or>
                     <equals
                           value="com.motorola.studio.android.perspective">
                     </equals>
                     <equals
                           value="org.eclipse.sequoyah.android.cdt.build.ui.perspective">
                     </equals>
                  </or>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
         <menu
               id="studioAndroidPopupMenu"
               label="%studioLabel">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <or>
                     <equals
                           value="com.motorola.studio.android.perspective">
                     </equals>
                     <equals
                           value="org.eclipse.sequoyah.android.cdt.build.ui.perspective">
                     </equals>
                  </or>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:help?before=com.motorola.studio.platform.logger.collector.separator">
         <command
               commandId="com.motorola.studio.android.open.motodev.web.resources"
               icon="icons/obj16/webresources.gif"
               label="%motodevmenu.web.resources"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="studioAndroidExportCategory"
            name="%studioLabel"
            parentCategory="com.motorola.studio.platform.ui.export">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="studioAndroidNewWizardsCategory"
            name="%studioLabel"
            parentCategory="com.motorola.studio.platform.ui.newproject">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <view
               id="com.android.ide.eclipse.ddms.views.ThreadView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.debug.ui.BreakpointView">
         </view>
         <view
               id="com.android.ide.eclipse.ddms.views.HeapView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.debug.ui.BreakpointView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="com.motorola.studio.android.perspective">
         <view
               id="org.eclipse.ui.navigator.ProjectExplorer"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.jdt.ui.PackageExplorer"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.motorola.studio.android.perspective.OpenWebResources"
            id="com.motorola.studio.android.open.motodev.web.resources"
            name="%motodevmenu.web.resources">
      </command>
   </extension>
   <extension
          point="org.eclipse.ui.menus">
       <menuContribution
             locationURI="menu:org.eclipse.ui.main.menu?after=project">
          <menu
                id="motorolaMenu"
                label="MOTODEV">
             
          </menu>
       </menuContribution>
    </extension>
  
</plugin>
