<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
          point="org.eclipse.ui.startup">
        <startup
            class="com.motorola.studio.android.common.proxy.NetworkProxySettingStartup">
        </startup>
    </extension>
    <extension
          point="org.eclipse.ui.views">
       <category
             id="studioAndroidViewCategory"
             name="%studioAndroidCategoryLabel">
       </category>
    </extension>
</plugin>
