<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.motorolamobility.studio.android.db.core.dbRootNode" name="Workspace" schema="schema/com.motorolamobility.studio.android.db.core.dbRootNode.exsd"/>
<extension
          point="com.motorolamobility.studio.android.db.core.dbRootNode">
   <rootNode
         class="com.motorolamobility.studio.android.db.core.workspace.WorkspaceRootNode"
         id="com.motorolamobility.studio.android.db.core.rootNode1"
         name="%workspaceExtensionName">
   </rootNode>       
    </extension>	
   <extension
         point="org.eclipse.ui.views">
      <view
            category="studioAndroidViewCategory"
            class="com.motorolamobility.studio.android.db.core.ui.view.MOTODEVDatabaseExplorerView"
            icon="icons/database_explorer_view.png"
            id="com.motorola.studio.android.db.databaseView"
            name="%motodevDatabaseViewName"
            restorable="true">me="%motodevDatabaseViewName"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="com.motorolamobility.studio.android.db.core.ui.action.IDbCreatorNode"
            objectClass="com.motorolamobility.studio.android.db.core.ui.action.IDbCreatorNode">
         <action
               class="com.motorolamobility.studio.android.db.core.ui.action.PopupMenuActionDelegate"
               definitionId="com.motorolamobility.studio.android.db.core.createDatabaseCommand"
               enablesFor="1"
               icon="icons/action_create_database.png"
               id="com.motorolamobility.studio.android.db.core.ui.action.createDbAction"
               label="%create_db_action">
         </action>
         <action
               class="com.motorolamobility.studio.android.db.core.ui.action.PopupMenuActionDelegate"
               definitionId="com.motorolamobility.studio.android.db.core.refreshNode"
               enablesFor="1"
               icon="platform:/plugin/org.eclipse.datatools.sqltools.schemaobjecteditor.ui/icons/refresh_from_server.gif"
               id="com.motorolamobility.studio.android.db.core.ui.action.refreshProjectNode"
               label="%action_refresh_project">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.motorolamobility.studio.android.db.core.ui.action.IDbNode"
            objectClass="com.motorolamobility.studio.android.db.core.ui.IDbNode">
         <action
               class="com.motorolamobility.studio.android.db.core.ui.action.PopupMenuActionDelegate"
               definitionId="com.motorolamobility.studio.android.db.core.createTableCommand"
               enablesFor="1"
               icon="icons/action_new_table.png"
               id="com.motorolamobility.studio.android.db.core.ui.action.createTableAction"
               label="%create_table_action">
            <enablement>
               <objectState
                     name="com.motorolamobility.studio.android.db.core.databaseConnection"
                     value="com.motorolamobility.studio.android.db.core.databaseConnected">
               </objectState>
            </enablement>
         </action>
         <action
               class="com.motorolamobility.studio.android.db.core.ui.action.PopupMenuActionDelegate"
               definitionId="com.motorolamobility.studio.android.db.core.connect"
               enablesFor="1"
               icon="icons/connect.png"
               id="com.motorolamobility.studio.android.db.core.ui.action.connect"
               label="%connect_db_action">
            <enablement>
               <objectState
                     name="com.motorolamobility.studio.android.db.core.databaseConnection"
                     value="com.motorolamobility.studio.android.db.core.databaseDisconnected">
               </objectState></enablement>
         </action>
         <action
               class="com.motorolamobility.studio.android.db.core.ui.action.PopupMenuActionDelegate"
               definitionId="com.motorolamobility.studio.android.db.core.disconnect"
               enablesFor="1"
               icon="icons/disconnect.png"
               id="com.motorolamobility.studio.android.db.core.ui.action.disconnect"
               label="%disconnect_db_action">
            <enablement>
               <objectState
                     name="com.motorolamobility.studio.android.db.core.databaseConnection"
                     value="com.motorolamobility.studio.android.db.core.databaseConnected">
               </objectState>
            </enablement>
         </action>
         <action
               class="com.motorolamobility.studio.android.db.core.ui.action.PopupMenuActionDelegate"
               definitionId="com.motorolamobility.studio.android.db.core.createDBManagementClasses"
               enablesFor="1"
               icon="icons/action_content_provider.png"
               id="com.motorolamobility.studio.android.db.core.ui.action.createDatabaseManagementClasses"
               label="%createDBManagementClassesAction">
         </action>
         <action
               class="com.motorolamobility.studio.android.db.core.ui.action.PopupMenuActionDelegate"
               definitionId="com.motorolamobility.studio.android.db.core.refreshNode"
               enablesFor="1"
               icon="platform:/plugin/org.eclipse.datatools.sqltools.schemaobjecteditor.ui/icons/refresh_from_server.gif"
               id="com.motorolamobility.studio.android.db.core.ui.action.refreshDbNode"
               label="%action_refresh_db">
         </action>
         <action
               class="com.motorolamobility.studio.android.db.core.ui.action.PopupMenuActionDelegate"
               definitionId="com.motorolamobility.studio.android.db.core.deleteDatabase"
               icon="platform:/plugin/org.eclipse.datatools.connectivity.sqm.core.ui/icons/delete.gif"
               id="com.motorolamobility.studio.android.db.core.ui.action.deleteDatabase"
               label="%action_delete_database">
            <enablement>
               <not>
                  <objectState
                        name="com.motorolamobility.studio.android.db.core.IDbNodeType"
                        value="com.motorolamobility.studio.android.db.core.isExternalStorage">
                  </objectState>
               </not>
            </enablement>
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.motorolamobility.studio.android.db.core.ui.action.IRootNode"
            objectClass="com.motorolamobility.studio.android.db.core.ui.IRootNode">
         <action
               class="com.motorolamobility.studio.android.db.core.ui.action.PopupMenuActionDelegate"
               definitionId="com.motorolamobility.studio.android.db.core.refreshNode"
               enablesFor="1"
               icon="platform:/plugin/org.eclipse.datatools.sqltools.schemaobjecteditor.ui/icons/refresh_from_server.gif"
               id="com.motorolamobility.studio.android.db.core.ui.action.refreshWorkspaceNode"
               label="%action_refresh_workspace">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.motorolamobility.studio.android.db.core.ui.action.ITableNode"
            objectClass="com.motorolamobility.studio.android.db.core.ui.ITableNode">
         <menu
               id="com.motorolamobility.studio.android.db.core.dataSubMenu"
               label="%data_sub_menu">
         </menu>
         <action
               class="com.motorolamobility.studio.android.db.core.ui.action.PopupMenuActionDelegate"
               definitionId="com.motorolamobility.studio.android.db.core.extractData"
               enablesFor="1"
               id="com.motorolamobility.studio.android.db.core.ui.action.extractData"
               label="%command_extract_data"
               menubarPath="com.motorolamobility.studio.android.db.core.dataSubMenu/data">
         </action>
         <action
               class="com.motorolamobility.studio.android.db.core.ui.action.PopupMenuActionDelegate"
               definitionId="com.motorolamobility.studio.android.db.core.loadData"
               enablesFor="1"
               id="com.motorolamobility.studio.android.db.core.ui.action.loadData"
               label="%command_load_data"
               menubarPath="com.motorolamobility.studio.android.db.core.dataSubMenu/data">
         </action>
         <action
               class="com.motorolamobility.studio.android.db.core.ui.action.PopupMenuActionDelegate"
               definitionId="com.motorolamobility.studio.android.db.core.browseTableContents"
               enablesFor="1"
               icon="platform:/plugin/org.eclipse.datatools.sqltools.data.ui/icons/table.gif"
               id="com.motorolamobility.studio.android.db.core.ui.action.browseTableContents"
               label="%browse_table_contents_action">
         </action>
         <action
               class="com.motorolamobility.studio.android.db.core.ui.action.PopupMenuActionDelegate"
               definitionId="com.motorolamobility.studio.android.db.core.refreshNode"
               enablesFor="1"
               icon="platform:/plugin/org.eclipse.datatools.sqltools.schemaobjecteditor.ui/icons/refresh_from_server.gif"
               id="com.motorolamobility.studio.android.db.core.ui.action.refreshTableNode"
               label="%action_refresh_table">
         </action>
         <action
               class="com.motorolamobility.studio.android.db.core.ui.action.PopupMenuActionDelegate"
               definitionId="com.motorolamobility.studio.android.db.core.deleteTable"
               enablesFor="1"
               icon="platform:/plugin/org.eclipse.datatools.connectivity.sqm.core.ui/icons/delete.gif"
               id="com.motorolamobility.studio.android.db.core.ui.action.deleteTable"
               label="%action_delete_table">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.motorolamobility.studio.android.db.core.ui.action.IDbMapperNode"
            objectClass="com.motorolamobility.studio.android.db.core.ui.IDbMapperNode">
         <action
               class="com.motorolamobility.studio.android.db.core.ui.action.PopupMenuActionDelegate"
               definitionId="com.motorolamobility.studio.android.db.core.mapDatabase"
               enablesFor="1"
			   icon="icons/map.png"
               id="com.motorolamobility.studio.android.db.core.ui.action.mapDbNode"
               label="%action_map_database">
         </action>
         <action
               class="com.motorolamobility.studio.android.db.core.ui.action.PopupMenuActionDelegate"
               definitionId="com.motorolamobility.studio.android.db.core.unmapDatabase"
               enablesFor="1"
			   icon="icons/unmap.png"
               id="com.motorolamobility.studio.android.db.core.ui.action.unmapDbNode"
               label="%action_unmap_database">
            <enablement>
               <objectState
                     name="com.motorolamobility.studio.android.db.core.mappedDatabases"
                     value="com.motorolamobility.studio.android.db.core.atLeastOne">
               </objectState>
            </enablement>
         </action>
         <action
               class="com.motorolamobility.studio.android.db.core.ui.action.PopupMenuActionDelegate"
               enablesFor="1"
               icon="platform:/plugin/org.eclipse.datatools.sqltools.schemaobjecteditor.ui/icons/refresh_from_server.gif"
               id="com.motorolamobility.studio.android.db.core.ui.action.refreshDbMapperNode"
               label="%action_refresh_db_mapper_node">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.motorolamobility.studio.android.db.core.ui.action.IDataSampler"
            objectClass="com.motorolamobility.studio.android.db.core.ui.IDataSampler">
         <menu
               id="com.motorolamobility.studio.android.db.core.dataSubMenu"
               label="%data_sub_menu">
         </menu>
         <action
               class="com.motorolamobility.studio.android.db.core.ui.action.PopupMenuActionDelegate"
               definitionId="com.motorolamobility.studio.android.db.core.sampleContents"
               enablesFor="1"
               icon="platform:/plugin/org.eclipse.datatools.connectivity.sqm.core.ui/icons/sampleContents.gif"
               id="com.motorolamobility.studio.android.db.core.ui.action.sampleContents"
               label="%command_sample_data"
               menubarPath="com.motorolamobility.studio.android.db.core.dataSubMenu/data">
         </action>
      </objectContribution>
   </extension>   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.motorolamobility.studio.android.db.core.command.DbConnectHandler"
            description="%command_connect_description"
            id="com.motorolamobility.studio.android.db.core.connect"
            name="%command_connect_name">
      </command>
      <command
            defaultHandler="com.motorolamobility.studio.android.db.core.command.DbDisconnectHandler"
            description="%command_disconnect_description"
            id="com.motorolamobility.studio.android.db.core.disconnect"
            name="%command_disconnect_name">
      </command>
      <command
            defaultHandler="com.motorolamobility.studio.android.db.core.command.DbCreateHandler"
            id="com.motorolamobility.studio.android.db.core.createDatabaseCommand"
            name="%create_database_command_label">
      </command>
      <command
            defaultHandler="com.motorolamobility.studio.android.db.core.command.RefreshNodeHandler"
            id="com.motorolamobility.studio.android.db.core.refreshNode"
            name="%command_refresh_node">
      </command>
      <command
            defaultHandler="com.motorolamobility.studio.android.db.core.command.SampleContentsHandler"
            description="%command_sample_data"
            id="com.motorolamobility.studio.android.db.core.browseTableContents"
            name="%command_sample_data">
      </command>
      <command
            defaultHandler="com.motorolamobility.studio.android.db.core.command.ExtractDataHandler"
            description="%command_extract_data"
            id="com.motorolamobility.studio.android.db.core.extractData"
            name="%command_extract_data">
      </command>
      <command
            defaultHandler="com.motorolamobility.studio.android.db.core.command.LoadDataHandler"
            description="%command_load_data"
            id="com.motorolamobility.studio.android.db.core.loadData"
            name="%command_load_data">
      </command>
      <command
            defaultHandler="com.motorolamobility.studio.android.db.core.command.BrowseTableContentsHandler"
            description="%command_sample_data"
            id="com.motorolamobility.studio.android.db.core.sampleContents"
            name="%command_sample_data">
      </command>
      <command
            defaultHandler="com.motorolamobility.studio.android.db.core.command.CreateDatabaseManagementClassesHandler"
            description="%createDBManagementClassesCommandDescription"
            id="com.motorolamobility.studio.android.db.core.createDBManagementClasses"
            name="%createDBManagementClassesCommandLabel">
      </command>
      <command
            defaultHandler="com.motorolamobility.studio.android.db.core.command.DeleteTableHandler"
            description="%command_delete_table_description"
            id="com.motorolamobility.studio.android.db.core.deleteTable"
            name="%command_delete_table_name">
      </command>
      <command
            defaultHandler="com.motorolamobility.studio.android.db.core.command.DeleteDatabaseHandler"
            description="%command_delete_database_description"
            id="com.motorolamobility.studio.android.db.core.deleteDatabase"
            name="%command_delete_database_name">
      </command>
      <command
            defaultHandler="com.motorolamobility.studio.android.db.core.command.MapDatabaseHandler"
            id="com.motorolamobility.studio.android.db.core.mapDatabase"
            name="%command_map_database">
      </command>
      <command
            defaultHandler="com.motorolamobility.studio.android.db.core.command.UnmapDatabaseHandler"
            id="com.motorolamobility.studio.android.db.core.unmapDatabase"
            name="%command_unmap_database">
      </command>
      <command
            defaultHandler="com.motorolamobility.studio.android.db.core.command.TableCreateHandler"
            description="%command_create_table_description"
            id="com.motorolamobility.studio.android.db.core.createTableCommand"
            name="%command_create_table_name">
      </command>
      <command
            defaultHandler="com.motorolamobility.studio.android.db.core.command.CollapseAllHandler"
            id="com.motorolamobility.studio.android.db.core.collapseAll"
            name="%command_collapse_all">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.motorola.studio.android.db.databaseView">
         <command
               commandId="com.motorolamobility.studio.android.db.core.collapseAll"
               icon="platform:/plugin/org.eclipse.datatools.connectivity.sqm.core.ui/icons/collapseall.gif"
               label="%menu_collapse_all"
               style="push">
         </command>
         <command
               commandId="com.motorolamobility.studio.android.db.core.refreshNode"
               icon="platform:/plugin/org.eclipse.datatools.sqltools.schemaobjecteditor.ui/icons/refresh_from_server.gif"
               label="%menu_refresh_node"
               style="push">
         </command>
         <separator
               name="com.motorolamobility.studio.android.db.core.separatorTableManagement"
               visible="true">
         </separator>
         <command
               commandId="com.motorolamobility.studio.android.db.core.createTableCommand"
               icon="icons/action_new_table.png"
               label="%command_create_table_name"
               style="push">
         </command>
         <command
               commandId="com.motorolamobility.studio.android.db.core.createDBManagementClasses"
               icon="icons/action_content_provider.png"
               label="%menu_create_db_management_classes"
               style="push">
         </command>
         <separator
               name="com.motorolamobility.studio.android.db.core.separatorTableCommands"
               visible="true">
         </separator>
         <command
               commandId="com.motorolamobility.studio.android.db.core.browseTableContents"
               icon="platform:/plugin/org.eclipse.datatools.sqltools.data.ui/icons/table.gif"
               label="%menu_browse_table_contents"
               style="push">
         </command>
         <separator
               name="com.motorolamobility.studio.android.db.core.separatorOtherCommands"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.datatools.sqltools.sqlscrapbook.commands.openscrapbook"
               icon="platform:/plugin/org.eclipse.datatools.sqltools.sqlscrapbook/images/scrapbook.gif"
               id="com.motorola.studio.android.db.commands.openscrapbookinview"
               label="%open_sql_scrapbook"
               tooltip="%open_sql_scrapbook_tooltip">
         </command>
      </menuContribution>
      <menuContribution locationURI="menu:motorolaMenu?after=manageDatabaseSeparator">
          <menu
                id="studioManageDatabaseMenu"
                label="%manageDatabaseLabel">
             <command
                   commandId="com.motorolamobility.studio.android.db.core.createDBManagementClasses"
                   disabledIcon="icons/action_content_provider.png"
                   hoverIcon="icons/action_content_provider.png"
                   icon="icons/action_content_provider.png"
                   label="%createDBManagementClassesCommandLabel"
                   style="push">
             </command>
             <command
                   commandId="org.eclipse.ui.perspectives.showPerspective"
                   icon="icons/dbplate.gif"
                   label="%openDatabasePerspectiveLabel"
                   style="push">
                   <parameter
                         name="org.eclipse.ui.perspectives.showPerspective.perspectiveId"
                         value="com.motorola.studio.android.db.perspective">
                   </parameter>
             </command>
             <command
                   commandId="com.motorolamobility.studio.android.db.core.createDatabaseCommand"                       
                   disabledIcon="icons/action_create_database.png"
                   hoverIcon="icons/action_create_database.png"
                   icon="icons/action_create_database.png"
                   label="%create_database_command_label"
                   style="push">
             </command>
          </menu>
          
    	</menuContribution>
    	       <menuContribution
             locationURI="popup:studioAndroidPopupMenu">
          <command
                commandId="com.motorolamobility.studio.android.db.core.createDBManagementClasses"
                disabledIcon="icons/action_content_provider.png"
                hoverIcon="icons/action_content_provider.png"
                icon="icons/action_content_provider.png"
                label="%menu_create_db_management_classes"
                style="push">
             <visibleWhen
                   checkEnabled="false">
                <and>
                   <count
                         value="1">
                   </count>
                   <iterate
                         ifEmpty="false"
                         operator="and">
                      <or>
                         <and>
                            <not>
                               <and>
                                  <instanceof
                                        value="org.eclipse.core.resources.IResource">
                                  </instanceof>
                                  <test
                                        property="org.eclipse.core.resources.extension"
                                        value="java">
                                  </test>
                               </and>
                            </not>
                            <not>
                               <instanceof
                                     value="org.eclipse.jdt.core.ICompilationUnit">
                               </instanceof>
                            </not>
                            <not>
                               <and>
                                  <instanceof
                                        value="org.eclipse.core.resources.IResource">
                                  </instanceof>
                                  <test
                                        property="org.eclipse.core.resources.extension"
                                        value="apk">
                                  </test>
                               </and>
                            </not>
                            <and>
                               <adapt
                                     type="org.eclipse.core.resources.IProject">
                                  <and>
                                     <test
                                           forcePluginActivation="true"
                                           property="org.eclipse.core.resources.projectNature"
                                           value="com.android.ide.eclipse.adt.AndroidNature">
                                     </test>
                                     <test
                                           property="org.eclipse.core.resources.open">
                                     </test>
                                  </and>
                               </adapt>
                            </and>
                         </and>
                         <and>
                            <instanceof
                                  value="org.eclipse.core.resources.IFile">
                            </instanceof>
                            <test
                                  property="org.eclipse.core.resources.extension"
                                  value="db">
                            </test>
                         </and>
                      </or></iterate>
                </and>
             </visibleWhen>
          </command>
          <command
                commandId="com.motorolamobility.studio.android.db.core.createDatabaseCommand"
                disabledIcon="icons/action_create_database.png"
                hoverIcon="icons/action_create_database.png"
                icon="icons/action_create_database.png"
                label="%create_database_command_label"
                style="push">
             <visibleWhen
                   checkEnabled="false">
                <and>
                   <not>
                      <and>
                         <instanceof
                               value="org.eclipse.core.resources.IResource">
                         </instanceof>
                         <test
                               property="org.eclipse.core.resources.extension"
                               value="java">
                         </test>
                      </and>
                   </not>
                   <not>
                      <instanceof
                            value="org.eclipse.jdt.core.ICompilationUnit">
                      </instanceof>
                   </not>
                   <not>
                      <and>
                         <instanceof
                               value="org.eclipse.core.resources.IResource">
                         </instanceof>
                         <test
                               property="org.eclipse.core.resources.extension"
                               value="apk">
                         </test>
                      </and>
                   </not>
                </and>
             </visibleWhen>
          </command>
       </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.motorolamobility.studio.android.db.core.DbPerspective"
            fixed="false"
            icon="icons/obj16/dbplate.gif"
            id="com.motorola.studio.android.db.perspective"
            name="%db_perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.motorola.studio.android.perspective">
         <perspectiveShortcut
               id="com.motorola.studio.android.db.perspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <perspectiveShortcut
               id="com.motorola.studio.android.db.perspective">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.motorolamobility.studio.android.db.core.command.TableCreateHandler"
            commandId="com.motorolamobility.studio.android.db.core.createTableCommand">
         <activeWhen>
            <with
                  variable="activeWorkbenchWindow">
               <instanceof
                     value="org.eclipse.ui.IWorkbenchWindow">
               </instanceof>
            </with>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="com.motorolamobility.studio.android.db.core.definitionIDbNodeSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.motorolamobility.studio.android.db.core.command.BrowseTableContentsHandler"
            commandId="com.motorolamobility.studio.android.db.core.browseTableContents">
         <activeWhen>
            <reference
                  definitionId="com.motorolamobility.studio.android.db.core.definitionIWorkbenchWindowActive">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="com.motorolamobility.studio.android.db.core.definitionITableNodeSelected">
            </reference></enabledWhen>
      </handler>
      <handler
            class="com.motorolamobility.studio.android.db.core.command.DbCreateHandler"
            commandId="com.motorolamobility.studio.android.db.core.createDatabaseCommand">
         <activeWhen>
            <reference
                  definitionId="com.motorolamobility.studio.android.db.core.definitionIWorkbenchWindowActive">
            </reference></activeWhen>
         <enabledWhen>
            <or>
               <reference
                     definitionId="com.motorolamobility.studio.android.db.core.definitionIDbNodeCreatorSelected">
               </reference>
               <reference
                     definitionId="com.motorolamobility.studio.android.db.core.definitionIResourceSelected">
               </reference>
            </or></enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.motorolamobility.studio.android.db.core.definitionIDbNodeSelected">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
            <iterate
                  ifEmpty="false">
               <adapt
                     type="com.motorolamobility.studio.android.db.core.ui.IDbNode">
               </adapt>
               <test
                     forcePluginActivation="false"
                     property="com.motorolamobility.studio.android.db.core.databaseConnection"
                     value="com.motorolamobility.studio.android.db.core.databaseConnected">
               </test>
            </iterate>
         </with>
      </definition>
      <definition
            id="com.motorolamobility.studio.android.db.core.definitionIWorkbenchWindowActive">
         <with
               variable="activeWorkbenchWindow">
            <instanceof
                  value="org.eclipse.ui.IWorkbenchWindow">
            </instanceof>
         </with>
      </definition>
      <definition
            id="com.motorolamobility.studio.android.db.core.definitionITableNodeSelected">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
            <iterate
                  ifEmpty="false">
               <adapt
                     type="com.motorolamobility.studio.android.db.core.ui.ITableNode">
               </adapt>
            </iterate>
         </with>
      </definition>
      <definition
            id="com.motorolamobility.studio.android.db.core.definitionIDbNodeCreatorSelected">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
            <iterate
                  ifEmpty="false">
               <adapt
                     type="com.motorolamobility.studio.android.db.core.ui.action.IDbCreatorNode">
               </adapt>
            </iterate>
         </with>
      </definition>
      <definition
            id="com.motorolamobility.studio.android.db.core.definitionIResourceSelected">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
            <iterate
                  ifEmpty="false">
               <adapt
                     type="org.eclipse.core.resources.IResource">
               </adapt>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="com.motorolamobility.studio.android.db.core.dbRootNode">
      <rootNode
            class="com.motorolamobility.studio.android.db.core.filesystem.FilesystemRootNode"
            id="com.motorolamobility.studio.android.db.core.filesystemRoot"
            name="%filesystemRootNodeName">
      </rootNode>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="false"
            icon="icons/ovr16/error_ovr.png"
            id="com.motorolamobility.studio.android.db.core.decorator.errorNode"
            label="%decorator_error_node_label"
            lightweight="true"
            location="BOTTOM_RIGHT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="com.motorolamobility.studio.android.db.core.ui.ITreeNode">
               </objectClass>
               <objectState
                     name="com.motorolamobility.studio.android.db.core.nodeStatus"
                     value="com.motorolamobility.studio.android.db.core.nodeStatusError">
               </objectState>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         id="com.motorolamobility.studio.android.db.core.propertyTesters"
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.motorolamobility.studio.android.db.core.command.DbNodeTester"
            id="com.motorolamobility.studio.android.db.core.propertyTester.IDbNode"
            namespace="com.motorolamobility.studio.android.db.core"
            properties="databaseConnection"
            type="com.motorolamobility.studio.android.db.core.ui.IDbNode">
      </propertyTester>
   </extension>
</plugin>
