<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
  Copyright (C) 2012 The Android Open Source Project
 
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
 
       http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<plugin>
	<extension-point id="com.motorola.studio.android.codeutils.sampleActivityDatabase" name="Add Android Sample Activity Page Based on Database" schema="schema/com.motorola.studio.android.sampleActivityDatabase.exsd"/>
   <extension
       point="org.eclipse.ui.newWizards">
       <wizard
             canFinishEarly="false"
             category="com.android.ide.eclipse.wizards.category"
             class="com.motorola.studio.android.wizards.buildingblocks.NewActivityWizard"
             finalPerspective="com.motorola.studio.android.perspective"
             hasPages="true"
             icon="icons/obj16/new_activity_wiz.png"
             id="com.motorola.studio.android.wizards.newActivityWizard"
             name="%android.wizard.activity"
             preferredPerspectives="com.motorola.studio.android.perspective, org.eclipse.jdt.ui.JavaPerspective"
             project="false">
          <description>
             %android.wizard.activity.description
          </description>
       </wizard>
       <wizard
             canFinishEarly="false"
             category="com.android.ide.eclipse.wizards.category"
             class="com.motorola.studio.android.wizards.buildingblocks.NewActivityBasedOnTemplateWizard"
             finalPerspective="com.motorola.studio.android.perspective"
             hasPages="true"
             icon="icons/obj16/new_activity_template_wiz.png"
             id="com.motorola.studio.android.wizards.newActivityBasedOnTemplateWizard"
             name="%android.wizard.activity.template"
             preferredPerspectives="com.motorola.studio.android.perspective, org.eclipse.jdt.ui.JavaPerspective"
             project="false">
          <description>
             %android.wizard.activity.template.description
          </description>
       </wizard>
       <wizard
             canFinishEarly="false"
             category="com.android.ide.eclipse.wizards.category"
             class="com.motorola.studio.android.wizards.buildingblocks.NewReceiverWizard"
             finalPerspective="com.motorola.studio.android.perspective"
             hasPages="true"
             icon="icons/obj16/receiver.png"
             id="com.motorola.studio.android.wizards.newReceiverWizard"
             name="%android.wizard.receiver"
             preferredPerspectives="com.motorola.studio.android.perspective, org.eclipse.jdt.ui.JavaPerspective"
             project="false">
          <description>
             %android.wizard.receiver.description
          </description>
       </wizard>
       <wizard
             canFinishEarly="false"
             category="com.android.ide.eclipse.wizards.category"
             class="com.motorola.studio.android.wizards.buildingblocks.NewServiceWizard"
             finalPerspective="com.motorola.studio.android.perspective"
             hasPages="true"
             icon="icons/obj16/service_new.gif"
             id="com.motorola.studio.android.wizards.newServiceWizard"
             name="%android.wizard.service"
             preferredPerspectives="com.motorola.studio.android.perspective, org.eclipse.jdt.ui.JavaPerspective"
             project="false">
          <description>
             %android.wizard.service.description
          </description>
       </wizard>
       <wizard
             canFinishEarly="false"
             category="com.android.ide.eclipse.wizards.category"
             class="com.motorola.studio.android.wizards.buildingblocks.NewProviderWizard"
             finalPerspective="com.motorola.studio.android.perspective"
             hasPages="true"
             icon="icons/obj16/provider.png"
             id="com.motorola.studio.android.wizards.newProviderWizard"
             name="%android.wizard.provider"
             preferredPerspectives="com.motorola.studio.android.perspective, org.eclipse.jdt.ui.JavaPerspective"
             project="false">
          <description>
             %android.wizard.provider.description
          </description>
       </wizard>
       <wizard
             canFinishEarly="false"
             category="com.android.ide.eclipse.wizards.category"
             class="com.motorola.studio.android.wizards.buildingblocks.NewWidgetProviderWizard"
             finalPerspective="com.motorola.studio.android.perspective"
             hasPages="true"
             icon="icons/obj16/widget_provider_block_wiz_toolbar.png"
             id="com.motorola.studio.android.wizard.newWidgetProviderWizard"
             name="%android.wizard.widget.provider"
             preferredPerspectives="com.motorola.studio.android.perspective, org.eclipse.jdt.ui.JavaPerspective"
             project="false">
          <description>
             %android.wizard.widget.provider.description
          </description>
       </wizard>
	</extension>
	<extension
               point="org.eclipse.ui.commands">
            <command
                  defaultHandler="com.motorola.studio.android.command.NewActivityWizard"
                  id="com.motorola.studio.android.new.activity"
                  name="%motodevmenu.new.activity">
            </command>
            <command
                  defaultHandler="com.motorola.studio.android.command.NewActivityBasedOnTemplateHandler"
                  id="com.motorola.studio.android.new.activity.template"
                  name="%motodevmenu.autogeneratedcode.activity">
            </command>
            <command
                  defaultHandler="com.motorola.studio.android.command.NewBroadcastReceiverWizard"
                  id="com.motorola.studio.android.new.broadcast.receiver"
                  name="%motodevmenu.new.broadcastreceiver">
            </command>
            <command
                  defaultHandler="com.motorola.studio.android.command.NewContentProviderWizard"
                  id="com.motorola.studio.android.new.content.provider"
                  name="%motodevmenu.new.contentprovider">
            </command>
            <command
                  defaultHandler="com.motorola.studio.android.command.NewServiceWizard"
                  id="com.motorola.studio.android.new.service"
                  name="%motodevmenu.new.service">
            </command>            
            <command
                  defaultHandler="com.motorola.studio.android.command.NewWidgetProviderWizard"
                  id="com.motorola.studio.android.new.widget.provider"
                  name="%motodevmenu.new.widget.provider">
            </command>            
	</extension>
	   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.jdt.ui.source.menu?endof=externalizeGroup">
	     <separator
               name="com.motorola.studio.android.fillcodeseparator1"
               visible="true">
         </separator>
         <command
               commandId="com.motorola.studio.android.fillActivityBasedOnLayout"
               icon="icons/obj16/fill_code_from_layout_16x16.png"
               label="%Motodev_Studio_Fill_Activity_Based_On_Layout"
               style="push">
           <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <or>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <test
                                 forcePluginActivation="true"
                                 property="org.eclipse.core.resources.extension"
                                 value="java">
                           </test>
                        </adapt>
                     </iterate>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                           <test
                                 property="org.eclipse.core.resources.open">
                           </test>
                           <test
                                 forcePluginActivation="true"
                                 property="org.eclipse.core.resources.projectNature"
                                 value="com.android.ide.eclipse.adt.AndroidNature">
                           </test>
                        </adapt>
                     </iterate>
                     <iterate>
                        <adapt
                              type="org.eclipse.jface.text.TextSelection">
                        </adapt>
                     </iterate>
                  </or>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="com.motorola.studio.android.fillSaveInstanceState"
               label="%fill_save_instance_state_command_name"
               style="push"
               tooltip="%fill_save_instance_state_command_description">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <or>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <test
                                 forcePluginActivation="true"
                                 property="org.eclipse.core.resources.extension"
                                 value="java">
                           </test>
                        </adapt>
                     </iterate>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                           <test
                                 property="org.eclipse.core.resources.open">
                           </test>
                           <test
                                 forcePluginActivation="true"
                                 property="org.eclipse.core.resources.projectNature"
                                 value="com.android.ide.eclipse.adt.AndroidNature">
                           </test>
                        </adapt>
                     </iterate>
                     <iterate>
                        <adapt
                              type="org.eclipse.jface.text.TextSelection">
                        </adapt>
                     </iterate>
                  </or>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="com.motorola.studio.android.GenerateMenuCode"
               label="%Motodev_Studio_Generate_Menu_Code"
               style="push">
               <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <or>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <test
                                 forcePluginActivation="true"
                                 property="org.eclipse.core.resources.extension"
                                 value="java">
                           </test>
                        </adapt>
                     </iterate>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                           <test
                                 property="org.eclipse.core.resources.open">
                           </test>
                           <test
                                 forcePluginActivation="true"
                                 property="org.eclipse.core.resources.projectNature"
                                 value="com.android.ide.eclipse.adt.AndroidNature">
                           </test>
                        </adapt>
                     </iterate>
                     <iterate>
                        <adapt
                              type="org.eclipse.jface.text.TextSelection">
                        </adapt>
                     </iterate>
                  </or>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:studioAndroidAutoGenerateCode">
         <command
               commandId="com.motorola.studio.android.fillActivityBasedOnLayout"
               icon="icons/obj16/fill_code_from_layout_16x16.png"
               label="%Motodev_Studio_Fill_Activity_Based_On_Layout"
               style="push">
         </command>
         <command
               commandId="com.motorola.studio.android.fillSaveInstanceState"
               label="%fill_save_instance_state_command_name"
               style="push">
         </command>
         <command
               commandId="com.motorola.studio.android.GenerateMenuCode"
               label="%Motodev_Studio_Generate_Menu_Code"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:studioAndroidNewWizardsMenu">
         <separator
               name="com.motorola.studio.android.afterNewProjectSeparator"
               visible="true">
         </separator>
         <command
               commandId="com.motorola.studio.android.new.activity"
               icon="icons/obj16/new_activity_wiz.png"
               label="%motodevmenu.new.activity"
               style="push">
         </command>
         <command
               commandId="com.motorola.studio.android.new.broadcast.receiver"
               icon="icons/obj16/receiver.png"
               label="%motodevmenu.new.broadcastreceiver"
               style="push">
         </command>
         <command
               commandId="com.motorola.studio.android.new.content.provider"
               icon="icons/obj16/provider.png"
               label="%motodevmenu.new.contentprovider"
               style="push">
         </command>
         <command
               commandId="com.motorola.studio.android.new.service"
               icon="icons/obj16/service_new.gif"
               label="%motodevmenu.new.service"
               style="push">
         </command>
         <command
               commandId="com.motorola.studio.android.new.widget.provider"
               icon="icons/obj16/widget_provider_block_wiz_toolbar.png"
               label="%motodevmenu.new.widget.provider"
               style="push">
         </command>
      </menuContribution>
   </extension>
	   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.motorola.studio.android.generateviewbylayout.ui.GenerateViewBasedOnLayoutHandler"
            id="com.motorola.studio.android.fillActivityBasedOnLayout"
            name="%Motodev_Studio_Fill_Activity_Based_On_Layout">
      </command>
      <command
            defaultHandler="com.motorola.studio.android.generateviewbylayout.ui.FillOnSaveInstanceStateHandler"
            description="%fill_save_instance_state_command_description"
            id="com.motorola.studio.android.fillSaveInstanceState"
            name="%fill_save_instance_state_command_name">
      </command>
      <command
            defaultHandler="com.motorola.studio.android.generatemenucode.ui.GenerateMenuCodeHandler"
            id="com.motorola.studio.android.GenerateMenuCode"
            name="%Motodev_Studio_Generate_Menu_Code">
      </command>
   </extension>
	   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.motorola.studio.android.generateviewbylayout.ui.GenerateViewBasedOnLayoutHandler"
            commandId="com.motorola.studio.android.fillActivityBasedOnLayout">
         <enabledWhen>
            <or>
               <and>
                  <count
                        value="1">
                  </count>
                  <or>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <test
                                 forcePluginActivation="true"
                                 property="org.eclipse.core.resources.extension"
                                 value="java">
                           </test>
                        </adapt>
                     </iterate>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                           <test
                                 property="org.eclipse.core.resources.open">
                           </test>
                           <test
                                 forcePluginActivation="true"
                                 property="org.eclipse.core.resources.projectNature"
                                 value="com.android.ide.eclipse.adt.AndroidNature">
                           </test>
                        </adapt>
                     </iterate>
                  </or>
               </and>
               <and>
                  <with
                        variable="activeEditorId">
                     <equals
                           value="org.eclipse.jdt.ui.CompilationUnitEditor">
                     </equals>
                  </with>
               </and>
            </or></enabledWhen>
         <activeWhen>
            <with
                  variable="activeWorkbenchWindow">
               <instanceof
                     value="org.eclipse.ui.IWorkbenchWindow">
               </instanceof>
            </with></activeWhen>
      </handler>
      <handler
            class="com.motorola.studio.android.generateviewbylayout.ui.FillOnSaveInstanceStateHandler"
            commandId="com.motorola.studio.android.fillSaveInstanceState">
         <activeWhen>
            <with
                  variable="activeWorkbenchWindow">
               <instanceof
                     value="org.eclipse.ui.IWorkbenchWindow">
               </instanceof>
            </with>
         </activeWhen>
         <enabledWhen>
            <or>
               <and>
                  <count
                        value="1">
                  </count>
                  <or>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <test
                                 forcePluginActivation="true"
                                 property="org.eclipse.core.resources.extension"
                                 value="java">
                           </test>
                        </adapt>
                     </iterate>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                           <test
                                 property="org.eclipse.core.resources.open">
                           </test>
                           <test
                                 forcePluginActivation="true"
                                 property="org.eclipse.core.resources.projectNature"
                                 value="com.android.ide.eclipse.adt.AndroidNature">
                           </test>
                        </adapt>
                     </iterate>
                  </or>
               </and>
               <and>
                  <with
                        variable="activeEditorId">
                     <equals
                           value="org.eclipse.jdt.ui.CompilationUnitEditor">
                     </equals>
                  </with>
               </and>
            </or>
         </enabledWhen>
      </handler>
      <handler
            class="com.motorola.studio.android.generatemenucode.ui.GenerateMenuCodeHandler"
            commandId="com.motorola.studio.android.GenerateMenuCode">
         <enabledWhen>
            <or>
               <and>
                  <count
                        value="1">
                  </count>
                  <or>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <test
                                 forcePluginActivation="true"
                                 property="org.eclipse.core.resources.extension"
                                 value="java">
                           </test>
                        </adapt>
                     </iterate>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                           <test
                                 property="org.eclipse.core.resources.open">
                           </test>
                           <test
                                 forcePluginActivation="true"
                                 property="org.eclipse.core.resources.projectNature"
                                 value="com.android.ide.eclipse.adt.AndroidNature">
                           </test>
                        </adapt>
                     </iterate>
                  </or>
               </and>
               <and>
                  <with
                        variable="activeEditorId">
                     <equals
                           value="org.eclipse.jdt.ui.CompilationUnitEditor">
                     </equals>
                  </with>
               </and>
            </or></enabledWhen>
         <activeWhen>
            <with
                  variable="activeWorkbenchWindow">
               <instanceof
                     value="org.eclipse.ui.IWorkbenchWindow">
               </instanceof>
            </with></activeWhen>
      </handler>
   </extension>
    <extension
          point="com.motorola.studio.android.codeutils.sampleActivityDatabase">
       <parameterCollector
             class="com.motorola.studio.android.codeutils.codegeneration.DatabaseListActivityGeneratorByTable">
       </parameterCollector>
    </extension>	
    <extension
               point="org.eclipse.ui.menus">
      <menuContribution
                  allPopups="false"
                  locationURI="menu:motorolaMenu?after=autoGenerateCodeSeparator">
               <menu
                     id="studioAndroidAutoGenerateCode"
                     label="%motodevmenu.autogeneratedcode">
                  <command
                        commandId="com.motorola.studio.android.new.activity.template"
                        icon="icons/obj16/new_activity_template_wiz.png"
                        label="%motodevmenu.autogeneratedcode.activity"
                        style="push">
                  </command>
               </menu>
            </menuContribution>
         </extension>
    <extension
          point="org.eclipse.ui.perspectiveExtensions">
       <perspectiveExtension
             targetID="org.eclipse.jdt.ui.JavaPerspective">
          <newWizardShortcut
                id="com.motorola.studio.android.wizards.newActivityWizard">
          </newWizardShortcut>
          <newWizardShortcut
                id="com.motorola.studio.android.wizards.newActivityBasedOnTemplateWizard">
          </newWizardShortcut>
          <newWizardShortcut
                id="com.motorola.studio.android.wizards.newReceiverWizard">
          </newWizardShortcut>
          <newWizardShortcut
                id="com.motorola.studio.android.wizards.newServiceWizard">
          </newWizardShortcut>
          <newWizardShortcut
                id="com.motorola.studio.android.wizards.newProviderWizard">
          </newWizardShortcut>
          <newWizardShortcut
                id="com.motorola.studio.android.wizard.newWidgetProviderWizard">
          </newWizardShortcut>
       </perspectiveExtension>
       <perspectiveExtension
             targetID="org.eclipse.sequoyah.android.cdt.build.ui.perspective">
          <newWizardShortcut
                id="com.motorola.studio.android.wizards.newActivityWizard">
          </newWizardShortcut>
          <newWizardShortcut
                id="com.motorola.studio.android.wizards.newActivityBasedOnTemplateWizard">
          </newWizardShortcut>
          <newWizardShortcut
                id="com.motorola.studio.android.wizards.newReceiverWizard">
          </newWizardShortcut>
          <newWizardShortcut
                id="com.motorola.studio.android.wizards.newServiceWizard">
          </newWizardShortcut>
          <newWizardShortcut
                id="com.motorola.studio.android.wizards.newProviderWizard">
          </newWizardShortcut>
          <newWizardShortcut
                id="com.motorola.studio.android.wizard.newWidgetProviderWizard">
          </newWizardShortcut>
       </perspectiveExtension>
    </extension>
    <extension
          point="org.eclipse.ui.navigator.navigatorContent">
       <commonWizard
             menuGroupId="2newAndroidBuildingBlock"
             type="new"
             wizardId="com.motorola.studio.android.wizards.newActivityWizard">
          <enablement>
             <adapt
                   type="org.eclipse.core.resources.IProject">
                <test
                      property="org.eclipse.core.resources.projectNature"
                      value="com.android.ide.eclipse.adt.AndroidNature">
                </test>
             </adapt>
          </enablement>
       </commonWizard>
       <commonWizard
             menuGroupId="2newAndroidBuildingBlock"
             type="new"
             wizardId="com.motorola.studio.android.wizards.newActivityBasedOnTemplateWizard">
          <enablement>
             <adapt
                   type="org.eclipse.core.resources.IProject">
                <test
                      property="org.eclipse.core.resources.projectNature"
                      value="com.android.ide.eclipse.adt.AndroidNature">
                </test>
             </adapt>
          </enablement>
       </commonWizard>
       <commonWizard
             menuGroupId="2newAndroidBuildingBlock"
             type="new"
             wizardId="com.motorola.studio.android.wizards.newReceiverWizard">
          <enablement>
             <adapt
                   type="org.eclipse.core.resources.IProject">
                <test
                      property="org.eclipse.core.resources.projectNature"
                      value="com.android.ide.eclipse.adt.AndroidNature">
                </test>
             </adapt>
          </enablement>
       </commonWizard>
       <commonWizard
             menuGroupId="2newAndroidBuildingBlock"
             type="new"
             wizardId="com.motorola.studio.android.wizards.newServiceWizard">
          <enablement>
             <adapt
                   type="org.eclipse.core.resources.IProject">
                <test
                      property="org.eclipse.core.resources.projectNature"
                      value="com.android.ide.eclipse.adt.AndroidNature">
                </test>
             </adapt>
          </enablement>
       </commonWizard>
       <commonWizard
             menuGroupId="2newAndroidBuildingBlock"
             type="new"
             wizardId="com.motorola.studio.android.wizards.newProviderWizard">
          <enablement>
             <adapt
                   type="org.eclipse.core.resources.IProject">
                <test
                      property="org.eclipse.core.resources.projectNature"
                      value="com.android.ide.eclipse.adt.AndroidNature">
                </test>
             </adapt>
          </enablement>
       </commonWizard>
    </extension>
</plugin>
