<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!--extension
         point="com.motorola.studio.platform.tools.sign.ui.supportBoundCertificate">
      <SupportBoundCertificate
            support="false">
      </SupportBoundCertificate>
   </extension>
   <extension
         id="id1"
         name="name"
         point="com.motorola.studio.platform.tools.sign.ui.signViewButtonAction">
      <SignViewButtonAction
            className="com.motorolamobility.studio.android.certmanager.ui.action.SignCreatedPackageAction"
            label="%signExternalPackagesAction"
            type="Sign Application">
      </SignViewButtonAction>
      <SignViewButtonAction
            className="com.motorolamobility.studio.android.certmanager.ui.action.RemoveSignatureAction"
            label="%removeExternalPackagesSignatureAction"
            type="Remove Signature">
      </SignViewButtonAction>
   </extension-->
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="com.android.ide.eclipse.wizards.category"
            class="com.motorola.studio.android.packaging.ui.export.PackageExportWizard"
            icon="icons/export_android_package.png"
            id="com.motorola.studio.android.packaging.ui.wizard1"
            name="%exportWizardName">
         <description>
            %exportWizardDescription
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.motorolamobility.studio.android.certmanager.command.SignExternalPackagesHandler"
            id="com.motorola.studio.android.packaging.ui.sign"
            name="%signCommandLabel">
      </command>
      <command
            defaultHandler="com.motorolamobility.studio.android.certmanager.command.UnsignExternalPackagesHandler"
            id="com.motorola.studio.android.packaging.ui.unsign"
            name="%unsignCommandLabel">
      </command>
      <command
            defaultHandler="com.motorola.studio.android.packaging.ui.handlers.ExportWizardHandler"
            id="com.motorola.studio.android.packaging.ui.export"
            name="%exportWizardShortName">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:studioAndroidPopupMenu">
         <command
               commandId="com.motorola.studio.android.packaging.ui.sign"
               icon="icons/sign_package.png"
               label="%signCommandLabel"
               style="push">
         </command>
         <command
               commandId="com.motorola.studio.android.packaging.ui.unsign"
               icon="icons/unsign_package.png"
               label="%unsignCommandLabel"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:motorolaMenu?after=signingSeparator">
         <menu
               id="studioSigningMenu"
               label="%signingLabel">
            <command
                  commandId="com.motorola.studio.android.packaging.ui.sign"
                  icon="icons/sign_package.png"
                  label="%signCommandLabel"
                  style="push">
            </command>
            <command
                  commandId="com.motorola.studio.android.packaging.ui.unsign"
                  icon="icons/unsign_package.png"
                  label="%unsignCommandLabel"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:motorolaMenu?after=externalToolsSeparator">
         <command
               commandId="com.motorola.studio.android.packaging.ui.export"
               icon="icons/export_android_package.png"
               label="%exportWizardShortName"
               style="push"
               tooltip="%exportWizardDescription">
         </command>
      </menuContribution>
   </extension>

</plugin>
